<div class="modal-header padding10" style="background-color:red">
    <h4 style="color:white" class="modal-title pull-left">{{ errorTitle }}</h4>
       <button type="button" class="close pull-right customClose" 
    aria-label="Close" (click)="modalRef.hide()">
  
      <span aria-hidden="true">&times;</span>
  
    </button>
  </div>
  <div class="modal-body">{{errorMsg}}</div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn" (click)="tryAgain()">
      Try Again
    </button> -->
    <button type="button" class="btn btn-danger" (click)="modalRef.hide()">
        OK
      </button>
  </div>