.parentBG {
    padding: 10px 10px 0px 0px;
}

ul.parentPlayer{
    list-style: none;
    padding: 0px 0;
    margin: 0px;
}
ul.parentPlayer li {
    float: left;
    text-align: center;
    padding: 5px 5px;
    cursor: pointer;
    margin-left: 5px;
    width: 21%;
    max-width: 100px;
    min-height: 100px;
    border: 1px solid #5B9BD5;
    border-radius: 10px 10px 0 0;
    border-bottom:0px;
    
}

ul.parentPlayer li span {
    display: block;
    padding-top: 5px;
    font-size:15px;
}

ul.parentPlayer li.active {
    background: #5B9BD5;
}

ul.parentPlayer li.active span{
    color: #ffffff;
}


@media only screen and (max-width : 767px) {
ul.parentPlayer li span {
    font-size: 12px;
}

ul.parentPlayer li {
    min-height: 68px;
}
}
