.parentBG {
    padding: 10px 10px 10px 10px;
}

ul.parentPlayer{
    list-style: none;
    padding: 0px 0;
    margin: 0px;
}

ul.parentPlayer li {
    float: left;
    display: inline-block;
    text-align: center;
    padding: 10px 7px;
    cursor: pointer;
    margin-left: 0px;
}

ul.parentPlayer li span {
    display: block;
    padding-top: 5px;
}

ul.parentPlayer li.active {
    background: #ededed;
    border-radius: 10px 10px;
    border-top: 2px solid #1e31ae;
}