.blueBGHead{background-color:#1e31ae; padding:5px; color:#ffffff; font-size:16px; font-weight:bold}
.mainPanel table thead tr th{background-color:#ededed; padding:5px; color:#000000; text-align:left; border:1px solid #ffffff;font-size:14px; border-bottom:2px solid #ffffff;}
.mainPanel table tbody tr td{background-color:#cdd4ea; padding:5px; color:#000000; text-align:left; border:1px solid #ffffff;font-size:14px;}
.blastCentre{text-align: center}
.blastbtn{background-color: #4472c4; color:#ffffff}
.coachemail{color:#4472c4 !important}