<!--****PRACTICES SECTION**--->
<div class="container">
  <div class="row paddingBottom50">
    <div class="col-lg-12">
        <h1 class="mainDate name_player"><strong>(6B) Sparks</strong></h1>
      <!--****PRACTICES SECTION**--->
<div class="mainPanel marginTop30">
  <h4 class="blueBGHead">TEAM LEADERSHIP</h4>
  <table cellspacing="0" cellpadding="0" border="0" width="100%">
    <thead>
      <tr>
        <th>POSITION</th>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>MOBILE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Coach</td>
        <td>Tami Larson</td>
        <td><u>tami@thelarsons.net</u></td>
        <td>916-220-4931</td>
      </tr>
       <tr>
        <td>Coach</td>
        <td>Tami Larson</td>
        <td><u>tami@thelarsons.net</u></td>
        <td>916-220-4931</td>
      </tr>
    </tbody>
  </table>
</div>

<!---******GAMES SECTION****-->
<div class="mainPanel marginTop30">
    <h4 class="blueBGHead">PLAYER HEALTH CONDITIONS</h4>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
        <tr>
          <th>PLAYER NAME</th>
          <th>HEALTH CONDITION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rob Larson</td>
          <td>Allergic to hard work</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!---***OTHER SECTION**********-->
  <div class="mainPanel marginTop30">
      <h4 class="blueBGHead">TEAM ROSTER</h4>
      <table id ="player_other" cellspacing="0" cellpadding="0" border="0" width="100%">
        <thead>
          <tr>
            <th>PLAYER NAME</th>
            <th>PARENT NAME</th>
            <th>PARENT EMAIL</th>
            <th>PARENT MOBILE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">Kyle Larson</td>
            <td>Robert Larson</td>
            <td><u>rflarson@yahoo.com</u></td>
            <td>916-757-7118</td>
          </tr>
          <tr>
              <td rowspan="2">Tamara Larson</td>
              <td rowspan="2">tami@thelarsons.net</td>
              <td rowspan="2">916-220-4931</td>
            </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>