<!--****PRACTICES SECTION**--->
<div class="container">
  <div class="row paddingBottom50">
    <div class="col-lg-12">
        <h1 class="mainDate name_player"><strong>(6B) Sparks</strong></h1>
      <!--****PRACTICES SECTION**--->
<div class="mainPanel marginTop30">
  <h4 class="blueBGHead">TEAM LEADERSHIP</h4>
  <div class="table-responsive borderNone">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
        <tr>
          <th>POSITION</th>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>MOBILE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td class="coachemail"><u></u></td>
          <td></td>
        </tr>         
      </tbody>
    </table>
  </div>
  
</div>

<!---******Player HEALTH SECTION****-->
<div class="mainPanel marginTop30">
    <h4 class="blueBGHead_health">PLAYER HEALTH CONDITIONS</h4>
    <div class="table-responsive borderNone">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
        <tr>
          <th>PLAYER NAME</th>
          <th>HEALTH CONDITION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
    
  </div>

  <!---***TEAM ROASTER SECTION**********-->
  <div class="mainPanel marginTop30">
      <h4 class="blueBGHead">TEAM ROSTER</h4>
      <div class="marginTop10 blastCentre">
      <button type="button" class="btn blastbtn btn-sm marginTop10 marginBottom10" (click)="sendEmail('blast_email')" >SEND BLAST EMAIL</button>&nbsp;
      <button type="button" class="btn blastbtn btn-sm marginTop10 marginBottom10"(click)="sendEmail('blast_text')">SEND BLAST TEXT</button>
    </div>
    <div class="table-responsive borderNone">
      <table id ="player_other" class="marginTop10" cellspacing="0" cellpadding="0" border="0" width="100%">
        <thead>
          <tr>
            <th>#</th>
            <th>PLAYER NAME</th>
            <th>PARENT NAME</th>
            <th>PARENT EMAIL</th>
            <th>PARENT MOBILE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2"></td>
            <td rowspan="2"></td>
            <td></td>
            <td class="coachemail"><u></u></td>
            <td></td>
          </tr>          
        </tbody>
      </table>
      </div>
    </div>
    </div>
  </div>
</div>