.bgColorChangePW{background-color:#ededed;}
.bgColorMain{background-color:#fff; margin-top:15px; padding:10px;}
.bgColorMain .form-group{margin-bottom:10px;}
.bgColorMain input[type="password"]{background-color:#ededed; border-radius:0px; box-shadow:none;}
.bgColorMain button{width:49%;border-radius:0px;margin-top: 10px;}
.bgColorMain button.btn-grey{background-color: #ccc;}
.bgColorMain .marginRight10{margin-right:2%}
.bgColorMain .form-group label{color:#555;}
.bgColorMain .alert{padding: 10px; margin-bottom: 10px;border-radius:0px;}


