<app-header [topImage]="headerImg"></app-header>

<body class="bgColorChangePW">
  <div>
    <div class="container">
      <main class="col-md-12 bgColorMain">
        <h2 class="changePw bd-title" id="content">Change Password</h2>

        <form class="pwForm" [formGroup]="form" (ngSubmit)="onSubmit(template)">
          <div class="form-group">
            <label for="currentPassword">Current Password</label>
            <input
              type="password"
              id="currentPassword"
              class="form-control"
              formControlName="currentPassword"
              [formGroup]="form"
            />
          </div>

          <div class="form-group">
            <label for="password">New Password</label>
            <input
              type="password"
              id="newPassword"
              class="form-control"
              formControlName="newPassword"
              [formGroup]="form"
            />
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
              [formGroup]="form"
            />
          </div>

          <div
            class="alert alert-danger"
            *ngIf="form.controls.confirmPassword.errors?.MatchPassword"
          >
            Password do not match
          </div>

          <button
            [disabled]="!form.valid"
            class="btn btn-success marginRight10"
          >
            SUBMIT
          </button>
          <button (click)="goBack()" class="btn btn-danger">CANCEL</button>
        </form>
      </main>
    </div>
  </div>
</body>

<ng-template #template>
  <div class="modal-body text-center pwChanged">  
    <p [ngClass]="changePwService.result=='Action Successful'?'heading-success':'heading-fail'" class="heading-signUp">{{ changePwService.result }}</p>
    <p>{{ changePwService.resultMsg }}</p>
    <button type="button" class="btn btn-success" (click)="confirm()">OK</button
    >
    <button *ngIf="changePwService.result!='Action Successful'" type="button" class="btn btn-danger" (click)="hideModal()">CANCEL</button>
  </div>
</ng-template>

<app-fybaloader *ngIf="changeRequest"></app-fybaloader>
