.bgColorChangePW{background-color:#ededed;}
.bgColorMain{background-color:#fff; margin-top:15px; padding:10px;}
.bgColorMain .form-group{margin-bottom:10px;}
.bgColorMain input[type="password"]{background-color:#ededed;}
.bgColorMain button{width:49%;margin-top: 10px; font-weight: bold; font-size:18px;padding: 5px 10px; text-transform: uppercase;}
.bgColorMain button.btn-grey{background-color: #ccc;}
.bgColorMain .marginRight10{margin-right:2%}
.bgColorMain .form-group label{color:#555;}
.bgColorMain .alert{padding: 10px; margin-bottom: 10px;border-radius:0px;}
.pwChanged button{/*width:35%;*/margin-top: 10px; font-weight: bold; font-size:14px;padding: 5px 10px; text-transform: uppercase;}


