<app-header [topImage]='headerImg'></app-header> 

<form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div  class="form-group">
            <label  for="oldPassword">Current Password</label>
            <input 
              type="password" 
              id="oldPassword" 
              class="form-control" 
              formControlName="oldPassword" 
              [formGroup]="form">    
          </div>

   <div class="form-group">
   <label for="password">Password</label>
   <input 
     type="password" 
     id="password" 
     class="form-control" 
     formControlName="password" 
     [formGroup]="form">    
 </div>
 <div class="form-group">
   <label for="confirmPassword">Conform Password</label>
   <input 
     type="password" 
     class="form-control" 
     id="confirmPassword"
     formControlName="confirmPassword" 
     [formGroup]="form">
 </div>

 <input [disabled]="form.controls.confirmPassword.errors?.MatchPassword"  
 type="submit" class="btn btn-primary" value="Submit" >

</form>

<div class="alert alert-danger"
*ngIf="form.controls.confirmPassword.errors?.MatchPassword">Password do not match</div>

<!-- <div class="alert alert-danger"
*ngIf="form.controls.oldPassword.errors?.EmptyField">No Field Can be left blank.</div> -->

<!-- <form #changePwForm="ngForm" (ngSubmit)="onSubmit(changePwForm)">

  <div class="form-group">
    <input type="password" class="form-control"
     name="currentPassword" #currentPassword="ngModel" 
     [(ngModel)]="changePwModel.OldPassword" 
     placeholder="Current Password" required>
    
     <div class="validation-error" 
     *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)">
     Current Password is Required</div>
  </div>

  <div class="form-group">
   <input type="password" class="form-control"
    name="newPassword" #newPassword="ngModel" 
    [(ngModel)]="changePwModel.NewPassword" 
    placeholder="New Password" required>
   
    <div class="validation-error" 
    *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
    New Password is Required</div>
 </div>

 <div class="form-group">
   <input type="password" class="form-control"
    name="confirmPassword" #confirmPassword="ngModel" 
    [(ngModel)]="changePwModel.ConfirmPassword" 
    placeholder="Confirm Password" required>
   
    <div class="validation-error" 
    *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
    Please confirm your new Password</div>

    <div class="validation-error" 
    *ngIf="(newPassword!==confirmPassword) && (confirmPassword.touched)">
    Your Passwords don't match</div>

 </div>


<div class="text-center"><button type="submit" 
  [disabled]="!changePwModel.OldPassword || !changePwModel.NewPassword || !changePwModel.ConfirmPassword" 
  class="signIn_btn">Submit</button></div>

</form> -->
