<app-header [topImage]='headerImg'></app-header> 

<div>
  <div class="container">
  <main class="col-12"><h2 class="bd-title" id="content">Change Password</h2>
<br>
<form  [formGroup]="pwFormGroup" (ngSubmit)="onSubmit(template)">
<div class="form-group">
    <label>Current Password</label>
    <input type="password" formControlName="currentPassword" class="form-control"  />
</div>
<div *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)"
    class="alert alert-danger">

  <div *ngIf="currentPassword.errors.required">
    Current Password is required.
  </div>
  <div *ngIf="currentPassword.errors.minlength">
    Current Password must be at least 1 character long.
  </div>
</div>

<div class="form-group">
  <label>New Password</label>
  <input type="password" formControlName="newPassword" class="form-control"  />
</div>

<div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
    class="alert alert-danger">

  <div *ngIf="newPassword.errors.required">
    Current Password is required.
  </div>
  <div *ngIf="newPassword.errors.minlength">
    Current Password must be at least 2 character long.
  </div>
</div>

<div class="form-group">
    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" class="form-control"  />
</div>

{{pwFormGroup.controls.confirmPassword.errors|json}}
<div *ngIf="pwFormGroup.controls.confirmPassword.errors?.mismatch">
  Both Passwords should match.
</div>

<div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
    class="alert alert-danger">

  <div *ngIf="confirmPassword.errors.required">
    Password Confirmation is required.
  </div>
  <div *ngIf="confirmPassword.errors.minlength">
    Password Confirmation must be at least 2 character long.
  </div>
</div>

<button (click)="goBack()" class="btn">Go Back?</button>
&nbsp; 
<button [disabled]="!pwFormGroup.valid"  class="btn btn-primary">Submit</button>


</form></main>
</div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
     <p class="heading-signUp">{{changePwService.result}}</p>
     <p>{{changePwService.resultMsg}}!</p>
     <button type="button" class="btn btn-success" (click)="confirm()" >Ok</button>&nbsp;            
     <button type="button" class="btn btn-warning" (click)="hideModal()" >Change Again?</button>
  </div>
</ng-template>

<!-- <input id="name" class="form-control"
      formControlName="name" required >

<div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)"
    class="alert alert-danger">

  <div *ngIf="oldPassword.errors.required">
    Password is required.
  </div>
  <div *ngIf="oldPassword.errors.minlength">
    Name must be at least 1 character long.
  </div>
</div> -->
