<div *ngIf="playerService.profileData != null" class="container paddingBottom50">
  <form *ngIf="profileForm" [formGroup]="profileForm">
    <div class="row">
      <div class="col-lg-12 OffcProfile fontSize12">
        <h1 class="mainDate name_player"><strong>{{profileSection.Value.PlayerName}}</strong></h1>
        <ngb-accordion>
          <ngb-panel formArrayName="ParentInfo">
            <ng-template ngbPanelTitle>
              <div class="HeadCollapse">
                <h2 class="paidHead">Personal Info</h2>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <ng-container>
                <div class="row-fluid signupPosition">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Gender:</strong>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <label>M</label>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="row-fluid signupPosition">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Grade:</strong>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <label>9</label>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="row-fluid signupPosition">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                    <strong>Division:</strong>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <label>9/10B</label>
                  </div>
                  <div class="clearfix"></div>
                </div>

              </ng-container>
              <ngb-accordion>
                <ngb-panel *ngFor="let child of profileForm.controls.ParentInfo['controls']; let i=index">
                  <ng-container>
                    <ng-template ngbPanelTitle>
                      <div class="HeadCollapse">
                        <h2 class="paidHead"> {{child.get("relationship").value}}:
                          {{child.get("parentName").value}}</h2>
                      </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                      <ng-container [formGroupName]="i">

                        <div class="data_module bgBlue">
                          <div class="fms_time marginleftNone wordBreak">

                            <div class="row-fluid signupPosition">
                              <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                                <strong>Email:</strong>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-8 paddTop4 paddLeft5">
                                <input type="email" formControlName="email" (change)="onChange($event.target.value)" />
                              </div>
                              <div style="margin-bottom: 1%;" class="clearfix"></div>
                            </div>

                            <div class="row-fluid signupPosition">
                              <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                                <strong>Home Phone:</strong>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-8 paddTop4 paddLeft5">
                                <input type="text" formControlName="homePhone">
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <div class="row-fluid signupPosition">
                                <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                                  <strong>Mobile Phone:</strong>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8 paddTop4 paddLeft5">
                                  <input type="text" formControlName="mobilePhone">
                                </div>
                                <div class="clearfix"></div>
                              </div>
                              
                            <div class="row-fluid signupPosition">
                              <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                                <strong>Texting Option:</strong>
                              </div>
                              <div class="col-md-8 col-sm-8 col-xs-8 paddTop4 paddLeft5">
                                <angular2-multiselect [data]="dropdownList" formControlName="textingoption"
                                  [settings]="dropdownSettings">
                                </angular2-multiselect>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                            <div class="row-fluid signupPosition">
                                <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                                  <strong>Volunteered Position:</strong>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8 paddTop4 paddLeft5">
                                  <angular2-multiselect [data]="dropdownList" formControlName="Volunteeredposition"
                                    [settings]="dropdownSettings">
                                  </angular2-multiselect>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="row-fluid signupPosition">
                                <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                                  <strong>Volunteer Check-in:</strong>
                                </div>
                                <div class="col-md-8 col-sm-8 col-xs-8 paddTop4 paddLeft5">
                                  <label>Player Evaluations (11/5/19  8:00 AM)</label>
                                </div>
                                <div class="clearfix"></div>
                              </div>

                            

                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </ng-container>
                    </ng-template>
                  </ng-container>
                </ngb-panel>


              </ngb-accordion>

              <div class="clearfix"></div>


            </ng-template>
          </ngb-panel>


          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="HeadCollapse">
                <h2 class="paidHead">Transaction History</h2>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>

              <ngb-accordion>
                <ngb-panel *ngFor="let status of registrationStatus">
                  <ng-template ngbPanelTitle>
                    <div class="HeadCollapse">
                      <h2 class="paidHead"> {{status.SeasonName}}</h2>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="data_module bgBlue">
                      <div class="fms_time marginleftNone wordBreak">
                        <!-- <div class="row-fluid signupPosition borderTopNone">
                        <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                          <strong>Season:</strong>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                          {{registrationStatus.SeasonName}}
                        </div>
                        <div class="clearfix"></div>
                      </div> -->

                        <div class="row-fluid signupPosition">
                          <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                            <strong>Registration Status:</strong>
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                            {{status.Status}}
                          </div>
                          <div class="clearfix"></div>
                        </div>

                        <div class="row-fluid signupPosition">
                          <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                            <strong>Registration Date & Time:</strong>
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                            {{status.TransactionDate}}
                          </div>
                          <div class="clearfix"></div>
                        </div>

                        <div class="row-fluid signupPosition ">
                          <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                            <strong>Registration Method:</strong>
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                            {{status.RegistrationMode}}
                          </div>
                          <div class="clearfix"></div>
                        </div>

                        <div class="row-fluid signupPosition ">
                          <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                            <strong>Amount Paid (Player Amt/Total Amt):</strong>
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                            {{status.Amount}}/{{status.AmountPaid}}
                          </div>
                          <div class="clearfix"></div>
                        </div>

                        <div class="row-fluid signupPosition ">
                          <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                            <strong>Payment Method:</strong>
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                            {{status.PaymentMode}}
                          </div>
                          <div class="clearfix"></div>
                        </div>

                        <div class="withdrawDiv" style="text-align:center">
                          <button (click)="withdraw(status.PlayerId,status)" class="btn btn-danger">Withdraw</button>
                        </div>

                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </ng-template>
          </ngb-panel>

          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="HeadCollapse">
                <h2 class="paidHead">Apparel</h2>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="data_module bgBlue">
                <div class="fms_time marginleftNone wordBreak">
                  <div class="row-fluid signupPosition borderTopNone">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Short Size:</strong>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      {{apparel.ShortSize}}
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="row-fluid signupPosition ">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Jersey Size:</strong>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      {{apparel.JerseySize}}
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="row-fluid signupPosition ">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Assigned Jersey :</strong>
                    
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      <input type="number" style="margin-left: 6px ; width:60px"  maxlength="2"  pattern="[0-9]{2}" value="0">
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="row-fluid signupPosition ">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Jersey # Request (1st choice):</strong>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      {{apparel.RequestedJersey1}}
                    </div>
                    <div class="clearfix"></div>
                  </div>

                  <div class="row-fluid signupPosition ">
                    <div class="col-md-4 col-sm-4 col-xs-4 text-right paddRight5">
                      <strong>Jersey # Request (2nd choice):</strong>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8 paddLeft5">
                      {{apparel.RequestedJersey2}}
                    </div>
                    <div class="clearfix"></div>
                  </div>


                </div>
              </div>
            </ng-template>
          </ngb-panel>

        </ngb-accordion>
        <div id="submitDiv" style="text-align:center">
          <button (click)="onSubmit()" [disabled]="profileForm.invalid || !profileForm.touched"
            class="btn btn-success">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <div *ngIf="initialFetchError" #serverError>
    <div class="noRecords">
      <span class="spanError">{{errorMsg}}</span> Please try again later!
    </div>
  </div> -->

<!--##########loader###################-->
<app-fybaloader *ngIf="fetchingData || !playerService.profileData"></app-fybaloader>
<!-- ###################################### -->