ul.inputCheck{
    list-style: none;
    margin:0px;
    padding:0px;
}
ul.inputCheck li{
    display:block;
}
.data_module input[type="text"]{width:100%;}

.fontSize12 .col-md-4, .fontSize12 .col-md-8{font-size:14px;}

