

  <div class="container paddingBottom50">
      <div class="row">
      <div class="col-lg-12">
      <h1 class="mainDate name_player"><strong>Tami Larson</strong> <span class="rating_player">4.3/5.0</span></h1>
    
       <ngb-accordion>
              <ngb-panel title="Personal Info">
                  <ng-template ngbPanelContent>                 
    </ng-template>
    </ngb-panel>
    </ngb-accordion>
      <div class="data_module bgBlue marginTopNone">
      <h2><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>  League Settings</h2>
      <div class="fms_time marginleftNone">
      <div class="row signupPosition">
      <div class="col-md-4 col-sm-4 col-xs-12">Max # Games/Day:</div>
      <div class="col-md-8 col-sm-8 col-xs-12"><strong>10</strong></div>
      </div>
      <div class="row signupPosition">
      <div class="col-md-4 col-sm-4 col-xs-12">Max Season Earnings:</div>
      <div class="col-md-8 col-sm-8 col-xs-12 paddTop4"><strong>No max</strong></div>
      </div>
      </div>
      </div>
      
      <div class="data_module bgBlue marginTopNone">
      <h2><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>  Approved Officiating Divisions</h2>
      <div class="fms_time marginleftNone">
      <div class="row signupPosition">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="overflowAuto">
      <table class="scoreTable marginTop10 widthTable approved_style" cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
      <tr><th>Division</th><th>Referee</th><th>Umpire</th><th>Scorekeeper</th></tr>
      </thead>
      <tbody>
      <tr>
        <td>3B</td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
        <td></td>
      </tr>
      
      <tr><td>4B</td><td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td><td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td><td></td></tr>
      <tr><td>5B</td><td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td><td></td><td></td></tr>
      <tr><td>6B</td><td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td><td></td><td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td></tr>
      <tr><td>7B</td><td></td><td></td><td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td></tr>
      </tbody>
      </table>
      </div>
      </div>
      </div>
      </div>
      </div>
      
      <div class="data_module bgBlue marginTopNone">
      <h2><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>  Payments</h2>
      <div class="fms_time marginleftNone">
      <div class="row signupPosition">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="overflowAuto">
      <table class="scoreTable marginTop10 widthTable approved_style" cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
      <tr><th>Check #</th><th>Issue Date</th><th>Amount</th></tr>
      </thead>
      <tbody>
      <tr><td>123</td><td>2/2/2018</td><td>$164.00</td></tr>
      </tbody>
      </table>
      </div>
      </div>
      </div>
      </div>
      </div>
      
      <div class="data_module bgBlue marginTopNone">
      <h2><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>  Data Privacy</h2>
      <div class="fms_time marginleftNone">
      <div class="row signupPosition">
      <div class="col-md-12 col-sm-12 col-xs-12">
      <p class="marginleftNone"><strong>Text here to explain the privacy policy with actions to be able to download and/or delete personal info.</strong></p>
      </div>
      </div>
      </div>
      </div>
      
      </div>
      </div>
      <div class="clearfix"></div>
      </div>
      
    