<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="composeHeading"><strong>Send Blast {{blasttext}}</strong></h2>
      <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
        <div id="composeEmailDiv" class="form-group">
          <input class="form-control" formControlName="recepient" style="margin-bottom: 2%;" type="email"
            placeholder="To" />
            <input *ngIf="blastemailtype" class="form-control" formControlName="from" style="margin-bottom: 2%;" type="text"
            placeholder="From" readonly />
          <input *ngIf="blastemailtype" class="form-control" formControlName="subject" style="margin-bottom: 2%;" type="text"
            placeholder="Subject" />
          <ckeditor [editor]="Editor" formControlName="body" (ready)="onReady($event)"></ckeditor>
          <div style="text-align:center; width: 100%" class="center-block;">
            <button type="submit" class="btn btn-success btnMargin btn-responsive">SEND {{blasttext}}</button>&nbsp;&nbsp;
            <button type="button" (click)="cancel()" class="btn btn-danger btnMargin btn-responsive">CANCEL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-fybaloader *ngIf="request"></app-fybaloader>