
<div class="incidentBox">
  <form [formGroup]="editIncidentForm" (ngSubmit)="submitForm()">
    <h3>Incident #1</h3>
    <div class="conIncidentBox">
      <p>Filed by:</p>
      <h4>{{name}}</h4>
      <p>Filed Date/Time:</p>
      <h4>{{today | date:'M/d/yy h:m a'}}</h4>
      <!-- <h4>1/5/2019 4:23 PM</h4> -->
      <p>Incident Type:</p>
      <select class="reportFacilities" formControlName="incidentType" (change)="incidentSelected()">
        <option *ngFor="let item of allIncidentTypes" value="{{item.Item}}">{{item.Item}}</option>
      </select>
      <ng-container *ngIf="depedentIncidentDropdown">
        <select  *ngIf="depedentIncidentDropdown.length>0" formControlName="incidentSubDropDown" class="reportFacilities"
          (change)="dependentDropDownSelected()">
          <option style="background-color: #DCDCDC" 
          *ngIf="!editIncidentForm.valid" [ngValue]="undefined" selected>Select</option>
          <option *ngFor="let item of depedentIncidentDropdown"          
           value={{item.Item}}>{{item.Item}}</option>
        </select>
      </ng-container>
      <p>Notes:</p>
      <textarea formControlName="note" class="textareaIncident"></textarea>
      <div class="footerBtnIncident">
        <button [disabled]="!editIncidentForm.valid" class="btn btn-success" type="submit">
          SAVE
        </button>
        &nbsp;
        <button class="btn btn-danger" (click)="bsModalRef.hide()" type="reset">
          CANCEL
        </button>
      </div>
    </div>
  </form>
</div>
