<div class="incidentBox">
  <form [formGroup]="incidentForm" (ngSubmit)="submitForm()">
    <h3>Incident #{{incidentCount}}</h3>
    <div class="conIncidentBox">
      <p>Filed by:</p>
      <h4>{{name}}</h4>
      <p>Filed Date/Time:</p>
      <h4>{{today | date:'M/d/yy h:mm a'}}</h4>
      <!-- <h4>1/5/2019 4:23 PM</h4> -->
      <p>Incident Type:</p>
      <select class="reportFacilities" 
      formControlName="incidentType" (change)="incidentSelected()">
      <option *ngFor="let item of incidentTypes" 
      value={{item.DependentDropdownName}}>{{item.Item}}</option>
    </select>
        <!-- <option style="background-color: #DCDCDC" [ngValue]="undefined" disabled selected>Select Incident
          Type</option>           -->
          <!-- <option class="placeholder" selected disabled value="">Select 
            language</option> -->                 
       

      <select *ngIf="depedentIncidentDropdown.length>0" 
        formControlName="incidentSubDropDown" 
        placeholder="Select..."
        (change)="dependentDropDownSelected()" class="reportFacilities" >
        <option style="background-color: #DCDCDC" 
        *ngIf="!incidentForm.valid"
        [ngValue]="undefined" selected disabled>Select</option>

        <option *ngFor="let item of depedentIncidentDropdown"   
        value={{item.Item}}>{{item.Item}}</option>
      </select>
      <p>Notes:</p>
      <textarea formControlName="note" class="textareaIncident"></textarea>
      <div class="footerBtnIncident">
        <button [disabled]="incidentForm.invalid || !incidentForm.controls['incidentType'].touched" 
        class="btn btn-success" type="submit">
          SAVE
        </button>
        &nbsp;
        <button class="btn btn-danger" (click)="bsModalRef.hide()" type="reset">
          CANCEL
        </button>
      </div>
    </div>
  </form>
</div>
