  <!--****PRACTICES SECTION**--->
  <div class="container">
    <div class="row paddingBottom50">
      <div class="col-lg-12">
  <div class="mainPanel marginTop30">
    <h4 class="blueBGHead">PRACTICES</h4>
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
        <tr>
          <th>DATE</th>
          <th>TIME</th>
          <th>LOCATION</th>
          <th>SNACKS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1/11/20 (Wed)</td>
          <td>9:00 AM - 9:55 AM</td>
          <td>FMS-Court B</td>
          <td>Kyle Larson</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!---******GAMES SECTION****-->
  <div class="mainPanel marginTop30">
      <h4 class="blueBGHead">GAMES</h4>
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <thead>
          <tr>
            <th>DATE</th>
            <th>TIME</th>
            <th>LOCATION</th>
            <th>HOME (Score)</th>
            <th>VISITOR (Score)</th>
            <th>SNACKS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1/11/20 (Wed)</td>
            <td>9:00 AM - 9:55 AM</td>
            <td>FMS-Court B</td>
            <td>Hawks (56)</td>
            <td>Unicorns (60)</td>
            <td>Kyle Larson</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!---***OTHER SECTION**********-->
    <div class="mainPanel marginTop30">
        <h4 class="blueBGHead">OTHER</h4>
        <table id ="player_other" cellspacing="0" cellpadding="0" border="0" width="100%">
          <thead>
            <tr>
              <th>EVENT</th>
              <th>DATE</th>
              <th>TIME</th>
              <th>LOCATION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Jamboree</td>
              <td>1/11/20 (Wed)</td>
              <td>9:00 AM - 9:55 AM</td>
              <td>FMS </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </div>
  </div>