<div *ngIf="paidSection != null && initialFetchError!=true">
  <div class="container paddingBottom50">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="mainDate"><strong>SCHEDULED PAYMENT DATES</strong></h3>
        <ul class="paymentdates">
          <li
            *ngFor="let item of paidSection.Value.SchedulePayments">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>

    <!--Signed Up but not approved-->

    <h3 class="mainDate"><strong>SIGNED UP BUT NOT APPROVED</strong></h3>
    <ngb-accordion
      *ngIf="
        paidSection.Value.PaymentNotApproved.length > 0;
        else noGamesDiv
      "
    >
      <ngb-panel
        *ngFor="
          let item of paidSection.Value.PaymentNotApproved
        "
      >
        <ng-template ngbPanelTitle>
          <div class="HeadCollapse">
            <h2 class="paidHead">{{ item.GameName }}</h2>           
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="matchInfo matchInfo2">
            {{ item.OfficiatingPositionText }}
            <!-- <ul>
              <li>- Base Pay: ${{ item.BaseAmount }}</li>
              <li *ngIf="item.OfficiatingPositionText == 'Scorekeeper'">
                - Scoresheet Report: ${{ item.IncentiveAmount }}
              </li>
            </ul> -->
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <h3 class="mainDate">
      <strong>APPROVED BUT NOT PAID</strong>
      <strong style="float:right">
        (${{
          paidSection.Value.PaymentNotPaidTotalAmount
        }})</strong
      >
    </h3>
    <ngb-accordion
      *ngIf="
        paidSection.Value.PaymentNotPaid.length > 0;
        else noGamesDiv
      "
    >
      <ngb-panel
        *ngFor="let item of paidSection.Value.PaymentNotPaid"
      >
        <ng-template ngbPanelTitle>
          <div class="HeadCollapse">
            <h2 class="paidHead">{{ item.GameName }}</h2>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="matchInfo matchInfo2">
            {{ item.OfficiatingPositionText }}
            <ul>
              <li>- Base Pay: ${{ item.BaseAmount }}</li>
              <li *ngIf="item.OfficiatingPositionText == 'Scorekeeper'">
                - Scoresheet Report: ${{ item.IncentiveAmount }}
              </li>
            </ul>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <h3 class="mainDate">
      <strong>PAID</strong>
      <strong style="float:right"
        >(${{
          paidSection.Value.PaidPaymentsTotalAmount
        }})</strong
      >
    </h3>
    <ngb-accordion
      *ngIf="
        paidSection.Value.PaidPayments.length > 0;
        else noRecordDiv
      "
    >
      <ngb-panel
        *ngFor="let item of paidSection.Value.PaidPayments"
      >
        <ng-template ngbPanelTitle>
          <div class="HeadCollapse">
            <h2 class="paidHead">{{ item.GameName }}</h2>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="matchInfo matchInfo2">
            {{ item.OfficiatingPositionText }}
            <ul>
              <li>- Base Pay: ${{ item.BaseAmount }}</li>
              <li *ngIf="item.OfficiatingPositionText == 'Scorekeeper'">
                - Scoresheet Report: ${{ item.IncentiveAmount }}
              </li>
            </ul>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
    <ng-template #noRecordDiv>
      <div class="noRecordsProfile">No Payments Found</div>
    </ng-template>
    <ng-template #noGamesDiv>
      <div class="noRecordsProfile">No Games Found</div>
    </ng-template>
  </div>
</div>
<!--##########loader###################-->
<app-fybaloader *ngIf="paidRequest"></app-fybaloader>
<!--######################################-->

<div *ngIf="initialFetchError" #serverError>
    <div class="noRecords">
      <span class="spanError">Server Error.</span> Please try again later!
    </div>
  </div>

<!-- <div *ngIf="officialService.serviceError" #serverError>
  <div style="padding:10px" class="noRecords2">
    Server Error. Please try again later!
  </div>
</div> -->
