
<body>  
  <div class="container paddingBottom50">
  <div class="row">
  <div class="col-lg-12">
  <h3 class="mainDate"><strong>SCHEDULED PAYMENT DATES</strong></h3>
  <ul class="paymentdates marginLeft30">
  <li>2/1/19</li>
  <li>3/1/19</li>
  </ul>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
  <h3 class="mainDate"><strong>SIGNED UP BUT NOT APPROVED</strong></h3>
  <ul class="teamList Leftmargin20">
  <li>
  <h3><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> (4B) Tigers vs. Lions
  <div class="matchInfo matchInfo2">Scorekeeper
  <ul>
  <li>- Base Pay:  $11.00</li>
  <li>- Scoresheet Report:  $3.00</li>
  </ul>
  </div>
  </h3>
  </li>
  <li>
  <h3><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> (4B) Jazz vs. Kings
  <div class="matchInfo matchInfo2">Scorekeeper
  <ul>
  <li>- Base Pay:  $11.00</li>
  <li>- Scoresheet Report:  $3.00</li>
  </ul>
  </div>
  </h3>
  </li>
  </ul>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
  <h3 class="mainDate"><strong>APPROVED BUT NOT PAID ($28.00)</strong></h3>
  <ul class="teamList Leftmargin20">
  <li>
  <h3><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> (4B) Dragons vs. Warriors <div class="amountPaid">$14.00</div>
  <div class="matchInfo matchInfo2">Scorekeeper
  <ul>
  <li>- Base Pay:  $11.00</li>
  <li>- Scoresheet Report:  $3.00</li>
  </ul>
  </div>
  </h3>
  </li>
  <li>
  <h3><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> (4B) Elves vs. Pretty Ponies <div class="amountPaid">$14.00</div>
  <div class="matchInfo matchInfo2">Scorekeeper
  <ul>
  <li>- Base Pay:  $11.00</li>
  <li>- Scoresheet Report:  $3.00</li>
  </ul>
  </div>
  </h3>
  </li>
  </ul>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
  <h3 class="mainDate"><strong>PAID  ($165.00)</strong></h3>
  <ul class="teamList Leftmargin20">
  <li>
  <h3><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> (3B) Elves vs. Pretty Ponies <div class="amountPaid">$14.00</div>
  <div class="matchInfo matchInfo2">Scorekeeper
  <ul>
  <li>- Base Pay:  $11.00</li>
  <li>- Scoresheet Report:  $3.00</li>
  </ul>
  </div>
  </h3>
  </li>
  </ul>
  </div>
  </div>
  
  
  </div>
</body>