
<body>  
  <div class="container paddingBottom50">
  <div class="row">
  <div class="col-lg-12">
  <h3 class="mainDate"><strong>SCHEDULED PAYMENT DATES</strong></h3>
  <ul class="paymentdates marginLeft30">
  <li>2/1/19</li>
  <li>3/1/19</li>
  </ul>
  </div>
  </div>

  <h3 class="mainDate"><strong>SIGNED UP BUT NOT APPROVED</strong></h3>


      <ngb-accordion>
          <ngb-panel title="(4B) Tigers vs. Lions">
              <ng-template ngbPanelContent>
                  <div class="matchInfo matchInfo2">Scorekeeper
                      <ul>
                      <li>- Base Pay:  $11.00</li>
                      <li>- Scoresheet Report:  $3.00</li>
                      </ul>
                      </div>
        </ng-template>
        </ngb-panel>
        
        <ngb-panel title="(4B) Jazz vs. Kings">    
          <ng-template ngbPanelContent>
              <div class="matchInfo matchInfo2">Scorekeeper
                  <ul>
                  <li>- Base Pay:  $11.00</li>
                  <li>- Scoresheet Report:  $3.00</li>
                  </ul>
                  </div>               
    </ng-template>
    </ngb-panel>
    </ngb-accordion>
    

  <h3 class="mainDate"><strong>APPROVED BUT NOT PAID ($28.00)</strong></h3>

  <ngb-accordion>
      <ngb-panel title="(4B) Dragons vs. Warriors">
          <ng-template ngbPanelContent>
              <div class="matchInfo matchInfo2">Scorekeeper
                  <ul>
                  <li>- Base Pay:  $11.00</li>
                  <li>- Scoresheet Report:  $3.00</li>
                  </ul>
                  </div>
    </ng-template>
    </ngb-panel>
    
    <ngb-panel title="(4B) Elves vs. Pretty Ponies">    
      <ng-template ngbPanelContent>
          <div class="matchInfo matchInfo2">Scorekeeper
              <ul>
              <li>- Base Pay:  $11.00</li>
              <li>- Scoresheet Report:  $3.00</li>
              </ul>
              </div>               
</ng-template>
</ngb-panel>
</ngb-accordion>


 
  <h3 class="mainDate"><strong>PAID  ($165.00)</strong></h3>
  <ngb-accordion>
      <ngb-panel title="(3B) Elves vs. Pretty Ponies">
          <ng-template ngbPanelContent>
              <div class="matchInfo matchInfo2">Scorekeeper
                  <ul>
                  <li>- Base Pay:  $11.00</li>
                  <li>- Scoresheet Report:  $3.00</li>
                  </ul>
                  </div>
    </ng-template>
    </ngb-panel>
</ngb-accordion>
  </div>
</body>