

/* presentation styles */
html {height: 100%}
body { text-align:center; background: radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat; background: -webkit-radial-gradient(circle, #fff 0%, #bbb 85%) no-repeat; height: 100%; display:table; width:100%}
.block {display: table-cell; vertical-align:middle}
h1, a { margin-top: 1em; font-family: "Open Sans Light", "Open Sans", "Segoe UI", Helvetica, Arial; color: #888; font-weight: lighter;}
.info {margin-top: 25px}
.info a {font-size: 12px; color: #999}
.info br + a {text-decoration:none}
.asScorekeeper{font-weight:normal; color:#5B9BD5; font-style: italic; font-size:16px;}
.staticStrip{padding: 0px;border: 1px solid #bbc9da;margin-top: 6px;background: #ededed; padding:10px; font-weight:bold;color: #000; font-size:18px;}
