table.table_division{margin-top:20px;}
table.table_division thead{color:#ffffff; background-color:#5B9BD5; border-bottom:2px solid #ffffff;}
table.table_division tbody tr:nth-child(2n+1) td{background-color:#D0DEEF;}
table.table_division tr td, table.table_division tr th{border:1px solid #ffffff; text-align:center;}
table.table_division tbody tr td{background-color:#E9EFF7; vertical-align: middle;}
table.table_division tr td:first-child, table.table_division tr th:first-child, table.table_division tr td:last-child, table.table_division tr th:last-child {text-align:left;}

table.table_stanings{margin-top:20px;}
table.table_stanings thead{color:#ffffff; background-color:#5B9BD5; border-bottom:2px solid #ffffff;}
table.table_stanings tbody tr:nth-child(2n+1) td{background-color:#D0DEEF;}
table.table_stanings tr td, table.table_stanings tr th{border:1px solid #ffffff; text-align:center;}
table.table_stanings tbody tr td{background-color:#E9EFF7; vertical-align: middle;}

h2{
    font-size: 26px;
}
@media only screen and (max-width : 991px) {    
    .small_font h2{font-size: 22px;}

}