<div class="container">
  <!--<h2>Division: 6B</h2>-->
  <div class="row paddingBottom50">
    <div class="col-lg-12">
        <div class="mainPanel marginTop30">
            <h4 class="blueBGHead">(6B) DIVISION STANDINGS</h4>
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
              <thead>
                <tr>
                  <th>RANK</th>
                  <th>TEAM</th>
                  <th>WINS</th>
                  <th>LOSS</th>
                  <th>TIE</th>
                  <th>%</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>TEAM B</td>
                  <td>6</td>
                  <td>0</td>
                  <td>0</td>
                  <td>1.000</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>TEAM A</td>
                    <td>3</td>
                    <td>3</td>
                    <td>0</td>
                    <td>0.500</td>
                  </tr>
              </tbody>
            </table>
          </div>
      <!--<table class="table table_division" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Team</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win %</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Team 1</td>
            <td>8</td>
            <td>2</td>
            <td>.8</td>
          </tr>
          <tr>
            <td>Team 2</td>
            <td>6</td>
            <td>4</td>
            <td>.6</td>
          </tr>
          <tr>
            <td>Team 3</td>
            <td>6</td>
            <td>4</td>
            <td>.6</td>
          </tr>
          <tr>
            <td>Team 4</td>
            <td>4</td>
            <td>6</td>
            <td>.4</td>
          </tr>
        </tbody>
      </table>-->

      <!--<table class="table table_stanings" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th>Date</th>
            <th>Team</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan="2">1/1/19</td>
            <td>Team 1</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Team 2</td>
            <td>30</td>
          </tr>
          <tr>
            <td rowspan="2">1/8/19</td>
            <td>Team 1</td>
            <td>19</td>
          </tr>
          <tr>
            <td>Team 4</td>
            <td>34</td>
          </tr>
          <tr>
            <td rowspan="2">1/15/19</td>
            <td>Team 3</td>
            <td>22</td>
          </tr>
          <tr>
            <td>Team 1</td>
            <td>25</td>
          </tr>
        </tbody>

      </table>-->
    </div>
  </div>
</div>