#composeEmailDiv * :not(.btnMargin){
display: block;
}

.btnMargin {
    font-weight: bold;
    margin-top: 5%;
    display: inline-block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px !important;
}