

<!----app-login *ngIf="!loginService.isLoggedIn"></app-login>

<div *ngIf="loginService.loginFailed">Invalid Login Credentials</div>

<app-official *ngIf="loginService.isLoggedIn"></app-official-->

    <!----app-modal></app-modal-->
    <!----app-imgupload></app-imgupload-->
    <router-outlet> </router-outlet>
<!----iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCzTOAGSFUeziPy2OGqJoilvzJKtH5tcU4&q=1970 Broadstone Parkway, Folsom, CA">
</iframe-->