<!--****PRACTICES SECTION**--->
<div class="container">
    <div class="row paddingBottom50">
      <div class="col-lg-12">
        <!--****PRACTICES SECTION**--->
  <div class="mainPanel marginTop30">
    <h4 class="blueBGHead">PRACTICES</h4>
    <div class="table-responsive borderNone">
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
      <thead>
        <tr>
          <th>DATE</th>
          <th>TIME</th>
          <th>LOCATION</th>
          <th>SNACKS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
    
  </div>
  
  <!---******GAMES SECTION****-->
  
  <div class="mainPanel marginTop30">
      <h4 class="blueBGHead">GAMES</h4>
      <div class="table-responsive borderNone">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <thead>
          <tr>
            <th>DATE</th>
            <th>TIME</th>
            <th>LOCATION</th>
            <th>HOME (Score)</th>
            <th>VISITOR (Score)</th>
            <th>SNACKS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      </div>
      
    </div>

    <!---***OTHER SECTION**********-->
    <div class="mainPanel marginTop30">
        <h4 class="blueBGHead">OTHER</h4>
        <div class="table-responsive borderNone">
          <table id ="player_other" cellspacing="0" cellpadding="0" border="0" width="100%">
          <thead>
            <tr>
              <th>EVENT</th>
              <th>DATE</th>
              <th>TIME</th>
              <th>LOCATION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
        </div>
        
      </div>
      </div>
    </div>
  </div>