<div class="OffcProfile" style="margin-left:8%; margin-right:8%">


    <!------Team Leaders----->
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="HeadCollapse">
            <h2 class="paidHead">Team Leaders</h2>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
         <div class="table-responsive borderNone"> 
            <table class="teamInfoPage">
              <tbody>
                <tr>
                  <td class="text-center"><img src="assets/images/player-2.png" /> <span class="nameInfo">(Coach)</span></td>
                    <td><strong>Campbell, Bryan</strong></td></tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  
    <!------Team Roster----->
  
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="HeadCollapse">
            <h2 class="paidHead">Team Roster</h2>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
  
          <div class="table-responsive borderNone">
            <table class="teamInfoPage">
                <tbody>
                    <tr>
                      <td rowspan="2" class="text-center"><img src="assets/images/player-2.png" /></td>
                        <td><strong>Adler, Juliette</strong></td></tr>
                    <tr>
                        <td><strong>#10</strong></td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="text-center"><strong>Father</strong></td>
                        <td>Adler, Garrett</td>
                    </tr>
                    <tr>
                        <td>H: 916-365-5395<br> 
                          M: 916-365-1397<br>
                          W:</td>
                    </tr>
                    <tr><td>Gadler97@gmail.com</td></tr>
                    <tr>
                        <td rowspan="3" class="text-center"><strong>Mother</strong></td>
                        <td>Adler, Suzanne</td>
                    </tr>
                    <tr>
                        <td>H: 916-365-5395<br> 
                          M: 916-365-5395<br>
                          W:</td>
                    </tr>
                    <tr><td>skoveradler@gmail.com</td></tr>
                  </tbody>
            </table>
          </div>
  
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  
  
    <!------Practices----->
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="HeadCollapse">
            <h2 class="paidHead">Practices</h2>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
  
          <div class="table-responsive borderNone">
            <table class="teamInfoPage">
              <thead>
                <tr>
                  <th scope="col" class="">Date</th>
                  <th scope="col" class="">Time</th>
                  <th scope="col" class="">Location</th>
                  <th scope="col" class="">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1/1/19</td>
                  <td>10:30 pm</td>
                  <td>London</td>
                  <td>Scheduled</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  
    <!------Games----->
    <ngb-accordion>
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <div class="HeadCollapse">
            <h2 class="paidHead">Games</h2>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
  
          <div class="table-responsive borderNone">
            <table class="teamInfoPage">
              <thead>
                <tr>
                  <th scope="col" class="">Date</th>
                  <th scope="col" class="">Time</th>
                  <th scope="col" class="">Location</th>
                  <th scope="col" class="c">Home</th>
                  <th scope="col" class="">Visitior</th>
                  <th scope="col" class="">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1/1/19</td>
                  <td>10:30 pm</td>
                  <td>London</td>
                  <td>Home Team</td>
                  <td>Visiting Team</td>
                  <td>Scheduled</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  
  </div>