

table.teamInfoPage{width:100%;}
table:not(#tl).teamInfoPage tr td, table.teamInfoPage tr th{padding:2px;vertical-align: middle; border:1px solid #dddddd; font-size:12px;} 
.borderNone{border:0px !important;}
span.nameInfo{display:block;margin-top:3px;}
#tl tr td {padding:3px;vertical-align: middle; border-bottom:1px solid #dddddd; font-size:12px;}
.bgGray{background-color:#ededed;}

td.leaderImg { text-align: left; }
td.leaderImg img{height:20%; width:15%; margin-left: 15%}

