<ng-container *ngIf="!playerService.emailFlag">
<div *ngIf="teamInfo!=null" class="container teamInfoTab">
  <div class="row">
    <div style="margin-bottom:5%;" class="col-lg-12">
      <div class="OffcProfile">
        <h1 class="mainDate name_player"><strong>{{TeamName}}</strong></h1>

        <!------Team Leaders----->
        <ngb-accordion >
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="HeadCollapse">
                <h2 class="paidHead">Team Leaders</h2>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="table-responsive borderNone">
                <table id="tl" class="teamInfoPage">
                  <thead>
                    <tr>
                      <td class="text-center">
                          <!-- [checked]="isAllChecked()" (change)="checkAll($event)" -->
                        <input class="chkbox" type="checkbox" (change)="updateAll()" [(ngModel)]="selectAll"/>
                      </td>
                      <td width="25%" class="text-center"><b>Photo</b></td>
                      <td><b>Name</b></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let leader of TeamLeaders">
                      <td class="text-center"><input [(ngModel)]=leader.selected [disabled]="leader.Email.length<=1" (change)="checkboxChange($event,leader.Email)" class="chkbox"  type="checkbox" /></td>
                      <td class="leaderImg text-center"><img src={{leader.Photo}} /></td>
                      <td class="">{{leader.VolunteerName}} <br /><strong>{{leader.VolunteerPosition}}</strong></td>
                    </tr>
                    <tr>
                      <td colspan="3" class="borderNone" style="text-align: center;">
                        <button type="submit" [disabled]="!allowSendEmail" (click)="sendEmail()" class="btn btn-success marginTop10">Send Email</button>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <!------Team Roster----->

        <ngb-accordion class="teamRosterPadd">
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="HeadCollapse">
                <h2 class="paidHead">Team Roster</h2>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>

              <div class="table-responsive borderNone">
                <table class="teamInfoPage"> 

                  <tbody *ngFor="let roster of TeamRoster">

                    <tr class="bgGray">
                      <td rowspan="2" *ngIf="roster.Parents.length==0">
                      </td>
                      <td rowspan="5" *ngIf="roster.Parents.length==1" class="teamRosterTable"> 
                        <!-- {{roster | json}} -->
                        <input (change)="rosterCheckboxChange($event,roster)" class="chkbox"  type="checkbox">
                      </td>
                      <td rowspan="8" *ngIf="roster.Parents.length==2" class="teamRosterTable"> 
                        <!-- {{roster | json}} -->
                        <input (change)="rosterCheckboxChange($event,roster)"  class="chkbox"  type="checkbox">
                      </td>

                      <td class="text-center">
                        <img style="height:30px;" src={{roster.Photo}} />
                      </td>
                      <td><strong>{{roster.PlayerName}}</strong> ({{roster.JerseyNumber}})</td>
                    </tr>
                    <ng-container *ngFor="let parent of roster.Parents">

                      <tr>
                        <td rowspan="3" class="text-center"><strong>{{parent.ParentRelationship}}</strong></td>
                        <td>{{parent.ParentName}}</td>
                      </tr>
                      <tr>
                          <td>{{parent.ParentEmail}}</td>
                      </tr>  
                      <tr>
                        <td>H: {{parent.ParentHomePhone}}<br>
                          M: {{parent.ParentMobilePhone}}<br>
                          W: {{parent.ParentWorkPhone}}</td>
                      </tr>            
                    </ng-container>
                  </tbody>
                  <tr>
                    <td colspan="3" class="borderNone" style="text-align: center">
                      <button type="submit" [disabled]="!allowRosterSendEmail"  (click)="rosterSendEmail()" class="btn btn-success marginTop10">Send Email</button>

                    </td>
                  </tr>

                </table>
              </div>

            </ng-template>
          </ngb-panel>
        </ngb-accordion>


        <!------Practices----->
        <ngb-accordion>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="HeadCollapse">
                <h2 class="paidHead">Practices</h2>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>

              <div class="table-responsive borderNone">
                <table class="teamInfoPage">
                  <thead>
                    <tr>
                      <th scope="col" class="">Date</th>
                      <th scope="col" class="">Time</th>
                      <th scope="col" class="">Location</th>
                      <th scope="col" class="">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let practice of TeamPractices">
                      <td>{{practice.PracticeDate}}</td>
                      <td>{{practice.PracticeTime}}</td>
                      <td>{{practice.Location}}</td>
                      <td>{{practice.PracticeStatus}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

        <!------Games----->
        <ngb-accordion>
          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="HeadCollapse">
                <h2 class="paidHead">Games</h2>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>

              <div class="table-responsive borderNone">
                <table class="teamInfoPage">
                  <thead>
                    <tr>
                      <th scope="col" class="">Date</th>
                      <th scope="col" class="">Time</th>
                      <th scope="col" class="">Location</th>
                      <th scope="col" class="c">Home</th>
                      <th scope="col" class="">Visitior</th>
                      <th scope="col" class="">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let game of TeamGames">
                      <td>{{game.GameDate}}</td>
                      <td>{{game.GameTime}}</td>
                      <td>{{game.Location}}</td>
                      <td>{{game.HomeTeam}}</td>
                      <td>{{game.VisitingTeam}}</td>
                      <td>{{game.GameStatus}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>
    </div>
  </div>
</div>
</ng-container>

<app-fybaloader *ngIf="dataRequest"></app-fybaloader>

<app-compose-email *ngIf="playerService.emailFlag"></app-compose-email>

<!-- <router-outlet *ngIf="playerService.emailFlag"></router-outlet> -->