<div class="OffcProfile" style="margin-left:8%; margin-right:8%">


  <!------Team Leaders----->
  <ngb-accordion>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="HeadCollapse">
          <h2 class="paidHead">Team Leaders</h2>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="table-responsive">
          <table class="table table-bordered w-auto table-condensed">
            <thead>
              <tr>
                <th scope="col" class="col-sm-2 col-md-2">#</th>
                <th scope="col" class="col-sm-4 col-md-4">Photo</th>
                <th scope="col" class="col-sm-3 col-md-3">Player Name</th>
                <th scope="col" class="col-sm-3 col-md-3">Jersey #</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Photo</td>
                <td>official</td>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <!------Team Roster----->

  <ngb-accordion>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="HeadCollapse">
          <h2 class="paidHead">Team Roster</h2>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>

        <div class="table-responsive">
          <table class="table table-bordered w-auto table-condensed">
            <thead>
              <tr>
                <th scope="col" class="col-sm-2 col-md-2">#</th>
                <th scope="col" class="col-sm-4 col-md-4">Photo</th>
                <th scope="col" class="col-sm-3 col-md-3">Position</th>
                <th scope="col" class="col-sm-3 col-md-3">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Photo</td>
                <td>official</td>
                <td>Mark</td>
              </tr>
            </tbody>
          </table>
        </div>

      </ng-template>
    </ngb-panel>
  </ngb-accordion>


  <!------Practices----->
  <ngb-accordion>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="HeadCollapse">
          <h2 class="paidHead">Practices</h2>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>

        <div class="table-responsive">
          <table class="table table-bordered w-auto table-condensed">
            <thead>
              <tr>
                <th scope="col" class="col-sm-2 col-md-2">Date</th>
                <th scope="col" class="col-sm-4 col-md-4">Time</th>
                <th scope="col" class="col-sm-3 col-md-3">Location</th>
                <th scope="col" class="col-sm-3 col-md-3">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1/1/19</td>
                <td>10:30 pm</td>
                <td>London</td>
                <td>Scheduled</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <!------Games----->
  <ngb-accordion>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <div class="HeadCollapse">
          <h2 class="paidHead">Games</h2>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>

        <div class="table-responsive">
          <table class="table table-bordered w-auto table-condensed">
            <thead>
              <tr>
                <th scope="col" class="col-sm-2 col-md-2">Date</th>
                <th scope="col" class="col-sm-2 col-md-2">Time</th>
                <th scope="col" class="col-sm-2 col-md-2">Location</th>
                <th scope="col" class="col-sm-2 col-md-2">Home</th>
                <th scope="col" class="col-sm-2 col-md-2">Visitior</th>
                <th scope="col" class="col-sm-2 col-md-2">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1/1/19</td>
                <td>10:30 pm</td>
                <td>London</td>
                <td>Home Team</td>
                <td>Visiting Team</td>
                <td>Scheduled</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

</div>