
  <div *ngIf="status" class="modal-header padding10" [ngStyle]="{'background-color': status ? '#70ad47' : 'red' }">
      <h4 style="color:white" class="modal-title pull-left">{{ popupTitle }}</h4>
         <button type="button" class="close pull-right customClose" 
      aria-label="Close" (click)="modalRef.hide()">
    
        <span aria-hidden="true">&times;</span>
    
      </button>
    </div>
    <div class="modal-body">{{popupMsg}}</div>
    <div style="text-align:center" class="modal-footer">
      <button *ngIf="status==false" type="button" class="btn" (click)="tryAgain()">
        Try Again
      </button>
      <button type="button" class="btn btn-danger" (click)="ok()">
          OK
        </button>
    </div>