/*@import "node_modules/bootstrap/dist/css/bootstrap.min.css";*/

/* You can add global styles to this file, and also import other style files */
/*actual design*/

@import "~@angular/material/prebuilt-themes/indigo-pink.css";



body{
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
    /*touch-action: "pan-down";*/
  }
  html {
    overscroll-behavior-y: contain;
    /*touch-action: "pan-down";*/
  }

  /*@media screen and (orientation: portrait) {
  }*/
  

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('./assets/fonts/glyphicons-halflings-regular.eot');
        src: 
        /* url('./assets/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
        url('./assets/fonts/glyphicons-halflings-regular.woff') format('woff'), */
    url('./assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('./assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
   }

   
   .customLI{padding-top:0px !important;background:#2ecc71 !important;border:0px !important;width:100px !important; height:100px !important; margin-right:20px !important;border:1px solid #000 !important;}
   .customLI span{left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%); font-size:14px !important; text-transform: uppercase;} 
   .leftReportDate{float:left; width:75%; text-align:left;padding-top: 0px; margin-right:5%;}
    .leftReportDate100{float:left; width:100%; text-align:left;padding-top: 0px; margin-right:5%;}
    .rightReportDate{float:right; width:100%; text-align:right; margin-left:0px;}
    .leftGameDate{float:left; width:49%; text-align:left;padding-top: 10px; margin-right:1%;}
    .leftGameDate strong{position: absolute;bottom: 0;left: 0;/*width: 45%;*/}
    .rightGameDate{float:left; width:49%; text-align:right; margin-left:1%;}
   .spanError{display: block;font-size: 38px; color: #999;font-weight: bold;text-shadow: 0 1px 2px #fff;}

   .modal-dialog{position: absolute;margin: 0px; transform: translateX(-50%) translateY(-50%) !important;-ms-transform: translateX(-50%) translateY(-50%) !important;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    -moz-transform: translateX(-50%) translateY(-50%) !important;
    -o-transform: translateX(-50%) translateY(-50%) !important;left: 50%;top: 50%;width: 90%; max-width: 500px;}

   .btn-grey{background-color: #ddd;}
   .rightGameAvailable{font-size:16px;padding-top: 3px;}
   .tapDiv{background:#fff; padding:10px; border-radius:4px; position:absolute; left:15px; right:15px; z-index: 1; bottom:15px;}
   .tapDiv > div > img{position:absolute; top:50%; transform:translateY(-50%);}
   .tapDiv p{width:calc(100% - 40px); float:left; font-size:12px; margin-bottom:0px; margin-left:35px;}
   .tapDiv p img{height:15px;} 


   .borderTopNone{border-top:0px !important;}
  .wordBreak{word-break:break-word;} 
  .breakAll{display:none; }
  .wordBreak .row-fluid{border-top:1px solid #bbc9da; padding-top:5px; margin-bottom:5px;} 
  .wordBreak .row-fluid .paddTop4{padding-top:0px;}

   .earnMore {
    color: #de0000;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height:16px;
    /*position: absolute;
    bottom: 0;
    right: -9px;
    width: 25%;*/
    float: right;
    margin-top: 5px;
}



div {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
    }

.dropdown-list .select-all{display:none;}

.bgDarkGrey{background:#bbbbbb !important;}

.asCoach {
    color: #5B9BD5;
    font-size: 14px;
    /*font-style: italic;
    font-weight: normal;*/
    padding-left: 2px;
}

   ul.addList li .glyphicon-remove-circle{position: absolute;
    top: -9px;
    right: -10px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    font-size: 20px;
   }

   ul.addList li .preFilledSS{position: absolute;
    font-size: 11px;
    padding-top: 0% !important;
    margin-top: 0% !important;
   }

   .Incidentclass input[type="file"]{font-size: 100px;
    position: absolute;
    top: 0;
    left: 0;opacity:0;}
    .Incidentclass{overflow:hidden;}

   
   h3.mainDate{background: #3c98db;padding:10px;color: #ffffff;}
   .HeadCollapse{float:left; margin-left: 0px; width:100%; padding:10px;}
   
   .floatLeftAlign {
    float: left;
    margin-right: 5px;
   }
   .btn{white-space: normal;}
   .marginTopBottom{margin-top: 12px;margin-bottom: 2px;}
   
   body{font-family: 'Open Sans', sans-serif !important;}
   .bg-info {
    background-color:#ededed !important;
   }
   .card-header{padding:0px;border: 1px solid #bbc9da;margin-top: 6px; 
    background: #ededed;}
   .card{border:0px;}
   .card .btn-link{color:#000000; font-weight:bold; padding:0px; font-size:16px; width: 100%; text-align:left;}
   .card-body{border:1px solid #bbc9da; border-top:0px; padding:10px;} 
   #filter .card-body{background: #e1efd8;}
   .btn-link.focus, .btn-link:hover, .btn-link:focus {
    text-decoration: none;
   }
   table.leftTable > tbody > tr > td:nth-child(2), table.leftTable > tbody > tr > th:nth-child(2){padding:0px;border:0px;}
   table.leftTable > tbody > tr > td:first-child, table.leftTable > tbody > tr > th:first-child{border-right:0px;}
   /* table.leftTable > tbody > tr > th tr:first-child th{border-bottom:0px;} */
   table.leftTable > tbody > tr > td tr:first-child td{border-top:0px;}
   table.leftTable > tbody > tr > th:nth-child(2) tr th{min-width:75px;}
   table.leftTable > tbody > tr > th:nth-child(2) tr th:first-child{min-width:100px;}
   table.leftTable > tbody > tr > td:nth-child(2) tr td{min-width:75px;}
   table.leftTable > tbody > tr > td:nth-child(2) tr td:first-child{min-width:100px;}



   .card h5{margin:0px;}
   
   .card-header:first-child {
    border-radius: 0;
   }
   #toggle-1-header{margin-top:20px;}
   
   
   input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgba(250, 255, 189, 0) !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
   }
   .topBg{background:#000000;}
   .add_to_home a{background-color:#b03d26; padding:5px 15px; margin:10px 0; display:inline-block; color:#ffffff;}
   .add_to_home a:hover, .add_to_home a:focus{color:#ffffff; text-decoration:none;}
   .logo_text a{color:#ffffff; font-size:46px; font-weight:bold; letter-spacing:1px;}
   .logo_text a:hover, .logo_text a:focus{color:#ffffff; text-decoration:none;}
   .bg_logo{background-color:#011a9a; padding:15px 0;}
   .logo_main a{float:right;}
   ul.tab_main{list-style:none; margin:0px; padding:0px;}
   ul.tab_main li{float:left; width:33.33%; text-align:center; margin:15px 0; cursor:pointer;}
   ul.tab_main li:first-child{border-left:0px;}
   ul.tab_main li{color:#828282; display:block; border-left:1px solid #dddddd;}
   ul.tab_main li span{display:block; padding-top:5px; font-size:18px; font-weight:normal;}
   ul.tab_main li a{color:#828282;}
   .bg_img_style{ height:67px; width:67px; background-position:center;background-repeat: no-repeat;background-size: contain; margin:0px auto;}
   .player_img{background-image:url("./assets/images/player_icon.png");}
   .coach_img{background-image:url("./assets/images/coach_icon.png");}
   .official_img{background-image:url("./assets/images/official_icon.png");}
   ul.tab_main li:hover .player_img{background-image:url("./assets/images/player_icon_hover.png");}
   ul.tab_main li.active .player_img{background-image:url("./assets/images/player_icon_hover.png");}
   ul.tab_main li a:hover, ul.tab_main li a:focus{color:#b03d26; text-decoration: none;}
   ul.tab_main li.active a{color:#b03d26;}
   ul.tab_main li.active span{font-weight:bolder;}
   ul.tab_main li:hover .coach_img{background-image:url("./assets/images/coach_icon_hover.png");}
   ul.tab_main li.active .coach_img{background-image:url("./assets/images/coach_icon_hover.png");}
   ul.tab_main li:hover .official_img{background-image:url("./assets/images/official_icon_hover.png");}
   ul.tab_main li.active .official_img{background-image:url("./assets/images/official_icon_hover.png");}
   .game_select_bg{background-color:#5B9BD5; padding:15px 0;}
   ul.game_select{list-style:none; margin:0px; padding:0px;}
   ul.game_select li{float:left; width:25%; text-align:center; border-left:1px solid rgba(255,255,255,0.3);color:#ffffff; cursor:pointer;}
   ul.width20Game li{width:20%;}
   ul.game_select li a{text-decoration:none; color:#ffffff;}
   ul.game_select li:first-child{border-left:0px;}
   ul.game_select li.active{color:#ffffff; text-decoration:none;}
   ul.game_select li a.active img, ul.game_select li a.active > span{opacity:1; font-weight: bold;}
   ul.game_select li span{display:block; font-size:18px; font-weight:normal; padding-top:5px;opacity: 0.5;}
   .official_header_img{background-image:url("./assets/images/official_header_img.jpg");height:365px; background-position:center 20%;background-repeat: no-repeat;background-size: cover; position:relative;}
   .coach_header_img{background-image:url("./assets/images/coach_header_img.jpg");height:365px; background-position:center 20%;background-repeat: no-repeat;background-size: cover;}
   .player_header_img{background-image:url("./assets/images/player_header_img.jpg");height:365px; background-position:center 20%;background-repeat: no-repeat;background-size: cover;}
   ul.game_select li img{opacity:0.5;}
   ul.game_select li > span{opacity:0.5;}
   
   
   .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
   }
   
   .custom-dropdown::before {
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    /* border-radius: 0 3px 3px 0; */
    border: 1px solid #d2d6de;
   }
   
   .custom-dropdown::before, .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
   }
   
   .custom-dropdown select {
    background: #fff;
    color: #575757;
    font-size: inherit;
    padding: 4px 10px;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    /* border-radius: 3px; */
    text-indent: 0.01px;
    text-overflow: '';
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #d2d6de;
    font-weight: normal;
    width: 100%;
   }
   
   .custom-dropdown::after {
    color: rgba(0,0,0,.6);
   }
   
   .custom-dropdown::after {
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
   }
   
   .custom-dropdown::before, .custom-dropdown::after {
    /*content: "";*/
    position: absolute;
    pointer-events: none;
   }
   
   .filter_module{background:#ededed; border:1px solid #bbc9da; padding:10px 20px; box-shadow:0 0 10px #cccccc; margin-top:20px;}
   .data_module{/*background:#ededed; border:1px solid #bbc9da; box-shadow:0 0 10px #cccccc;*/ /*padding:10px 0px;*/ margin-top:0px;}
   /*.data_module{/*background:#ededed; border:1px solid #bbc9da; box-shadow:0 0 10px #cccccc; padding:10px 0px; margin-top:10px;}*/
   .filter_module h2, .data_module h2{margin-top:0px; font-size:18px; font-weight:bold; cursor:pointer; margin-bottom:0px; display: inline-block;width: calc(100% - 16px);line-height: 24px; margin-left:0px; color:#000; position:relative;}
   .filter_div label{margin-top:5px;}
   .filter_div{margin-top:0px; display:inline-block; width:100%;}
   .marginTop10{margin-top:10px;}
   a.btnFilter{background:#3c98db; padding:5px 10px; border-radius:5px; color:#ffffff; text-decoration:underline;}
   a.btnFilter:hover, a.btnFilter:focus{ color:#ffffff;}
   h1.mainDate{font-size:30px;margin-bottom: 0;margin-top: 20px;display: inline-block;width: 100%; position:relative;}
   
   .marginBottom10{margin-bottom:10px;}
   .data_module h3{font-size:18px; color:#000000; margin-top:10px; font-weight:normal; font-style: italic;}
   .marginLeft20{margin-left:20px !important;}
   .Leftmargin20{margin-left:0px !important;}
   .marginLeft30{margin-left:30px !important;}
   .matchInfo2{margin-left:25px !important;font-size: 16px !important;line-height: 22px !important;}
   .matchInfo2 ul{list-style:none; margin:0px; padding-left:15px;}
   .matchInfo2 ul li{margin:5px 0 !important;}
   ul.teamList{list-style:none; padding:0px; margin:0px;}
   ul.teamList li{background:#3c98db; border-radius:10px; margin:10px 0; cursor:pointer;}
   ul.teamList li:first-child{margin-top:20px;}
   ul.teamList li h3{color:#ffffff; font-size:18px; padding:10px; margin:0px; font-weight:bold;}
   .signupPosition{font-size:16px; margin-top:10px;}
   a.signupRedBtn{background:#ff0000; padding:3px 12px; color:#ffffff; border-radius:0px; font-size:14px;}
   a.signupRedBtn:hover, a.signupRedBtn:focus{color:#ffffff; text-decoration:none;}
   a.cancelSignupBtn{background:#FFD700; padding:3px 12px; color:#000000; border-radius:0px; font-size:14px;}
   a.canNotCancelSignupBtn{background:#bfbfbf; padding:3px 12px; color:#000000; border-radius:0px; font-size:14px;}
   .paddTop4{padding-top:4px;}
   
   .matchInfo{font-size:14px; margin-left:40px; margin-top:10px; line-height:20px; font-weight:normal;}
   .matchInfo span{color:#fffb85; text-decoration:underline;}
   .matchInfo_selectGame{font-size:14px; margin-left:20px; margin-top:10px; line-height:20px; font-weight:normal;}
   .matchInfo_selectGame span{color:#b1b1b1;}
   .matchInfo_selectGame div{color:#b1b1b1;text-decoration:underline; }
   
   
   .paddingBottom50{padding-bottom:50px;}
   .paddingBottom20{padding-bottom:20px;}

   h2.paidHead{margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0px;
    display: inline-block;
    width: calc(100% - 30px);
    line-height: 24px;
    margin-left: 5px;
    color: #000;}
   
   .notification_tip{background: #ff0000; padding:0px 6px 2px 5px !important; color: #ffffff;border-radius: 10px;font-size: 11px !important; cursor:pointer; opacity:1 !important;}
   .select_pos{position: absolute;margin-left: -30px; margin-top:-5px;}
   .report_pos{position: absolute;right: -25px;top: -7px;}
   .get_pos{position: absolute;margin-left: -17px; margin-top:-5px;}
   .officiating_pos{position: absolute;margin-left: -45px; margin-top:-5px;}
   .btnFilter{padding: 4px 15px !important;font-size: 12px !important;}
   .arrow_right img, .arrow_down img{vertical-align: sub; height:20px;}
   .filter_div label{text-align:right;}
   .data_module.active{background:#fefeda;}
   .cancelBtn{background:#e4b100; color:#ffffff; border-radius:0px; padding:4px 15px;}
   .saveBtn{background:#b03d26 !important; color:#ffffff !important; border-radius:0px !important; padding:4px 20px !important;}
   .saveBtn:hover, .saveBtn:focus{color:#ffffff !important;}
   .cancelBtn:hover, .cancelBtn:focus{color:#ffffff !important;}
   .lognin_bg{background-image:url("./assets/images/login_bg2.jpg"); background-size:cover; background-repeat:no-repeat; height:100%; width:100%; position:fixed; background-position:center center; left:0px; top:0px;}
   .lognin_box{position:absolute; width:400px; left:50%; top:50%; transform:translateX(-50%) translateY(-50%);}
   .input_field input{width:100%; border:0px; border-bottom:1px solid rgba(255,255,255,0.3); background:transparent; height:40px; color:#cccccc; text-align:center; border-radius:0px !important; box-shadow:none !important;}
   .invalid_credintial{
    color: #ff0000; text-align: center; font-weight:bold;}
    .noRecords{
        color: #333; text-align: left; font-weight:bold;/*word-spacing:5px;*/
        padding-top: 0px; font-size: 14px;text-align: center;margin-top: 50px;
        
    }

    .noRecords2{
        color: #ff0000; text-align: left; font-weight:bold;/*word-spacing:5px;*/
        padding-top: 15px; font-size: 18px;
        
    }

    
    .noRecordsBlack{
        color: black; text-align: left; font-weight:bold;/*word-spacing:5px;*/
        padding-top: 15px; font-size: 18px;
        
    }
    .noRecordsProfile{
        color: black; text-align: left; font-weight:bold;/*word-spacing:5px;*/
        padding-top: 0px; font-size: 16px;
        
    }
    h2.changePw{
        font-size: 24px !important; 
        font-weight: bold;
        color:#333;
        margin-top:5px; 
        background-color:#fff; 
        padding-bottom:10px;
        margin-bottom: 10px;
        border-bottom:1px solid #ccc;
    }


   .logo_login{text-align:center; margin-bottom:80px;}
   .forgot_pass{text-align:right; margin-top:15px;}
   .forgot_pass a{color:rgba(255,255,255,1);}
   .validation-error{color:#ff0000;padding: 0 10px;}
   .forgot_pass a:hover, .forgot_pass a:focus{color:rgba(255,255,255,1); text-decoration:none;}
   .dont_acnt{color:rgba(255,255,255,0.4); text-align:center;}
   .dont_acnt a, .dont_acnt a:hover, .dont_acnt a:focus{color:#ffffff; text-decoration:none;}
   .signIn_btn{background: rgba(255,214,2,1);height: 50px;width: 100%;
    border-radius: 50px;
    color: #000000 !important;
    font-size: 16px;
    margin: 30px 0;
    display: block;
    text-align: center;
    line-height: 46px;
    text-decoration: none !important; transition:0.4s;
    border:0px;
   }
       
   .signIn_btn:hover{background: rgba(255,214,2,0.9);} 
       
       
   .marginTop30{margin-top:30px;}
   .marginTop20{margin-top:20px;}
   
       /*= input focus effects css
   =========================== */
   :focus{outline: none;}
   
   .col-3{position: relative;} /* necessary to give position: relative to parent. */
   
   
   
   .effect-16, 
   .effect-17, 
   .effect-18{border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent;}
   
   
   .effect-17 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 2px; background-color: #3c98db; transition: 0.4s;}
   .effect-17:focus ~ .focus-border,
   .has-content.effect-17 ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}
   .effect-17 ~ label{position: absolute; left: 0; width: 100%; top: 9px; color: #cccccc; transition: 0.3s; z-index: -1; letter-spacing: 0.5px; font-weight:normal; text-align:center;}
   .effect-17:focus ~ label, .has-content.effect-17 ~ label{top: -16px; font-size: 12px; color: #3c98db; transition: 0.3s;}
   
   /*= input focus effects css End
   =============================== */
       
   ul.reportlist{list-style:none; margin:0px; padding:0px;}
   ul.reportlist li{background:#1e31ae; color:#ffffff; padding:5px 10px; font-size:16px; font-weight:bold;}    
   .bgGrey{background:#ffffff; padding:10px 0px;}  
   .bgGrey .col-md-2{font-size:16px;}
   table.scoreTable{border-collapse:collapse;}
   table.scoreTable tr td{padding:8px 4px; background:#ffffff; border:1px solid #cccccc; text-align:center;}
   table.scoreTable tr th{padding:8px 4px; background:#ededed; border:1px solid #cccccc; text-align:center; color:#333333;}
   table.scoreTable tr td input[type="number"]{width:100%; border:1px solid #cccccc;min-width: 40px;}
   table.scoreTable tr td:nth-child(2), table.scoreTable tr th:nth-child(2){text-align:left;}
   .describe_text{font-style:italic; color:#ff0000; font-weight:normal;}
   .marginTop8{margin-top:8px;}
   .bgGrey input[type="text"]{border:1px solid #aaaaaa; height:30px;}  
   
   .tooltip_abc {
    position: relative;
    display: inline-block;
       margin-left:0px;
       top:-5px;
   }
   
   .tooltip_abc .tooltiptext { 
    visibility: hidden;
    position: absolute;
    width: 90px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
       font-size:11px;
       font-weight:normal;
   }
   .tooltip-top {
    bottom: 150%;
    left: 50%;
    margin-left: -67px;
   }
   
   .tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 17px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
   }
   
   .tooltip_abc:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
   }
   
   ul.paymentdates{list-style:none; padding:0px; margin:0px;}
   ul.paymentdates li{display:block; font-size:20px; color:black; font-weight:bold; padding:2px 0;}
   .breakWord{display:none;}
   .leftAlign tr td, .leftAlign tr th{text-align:left !important;}
   ul.addList{list-style:none; padding:0px; margin:0px; margin-top:10px; display:inline-block; /*width:100%;*/}
   ul.addList li{float: left;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 100px;
    /*background: #999999;*/
    text-align: center;
    line-height: 100px;
    color: #ffffff; position:relative; /*border:3px solid #3c98db;*/margin-top:10px;}

    ul.addList.incidentLi li{
        background: #1e31ae;
    }
    
    ul.addList li.preFilledDiv{float: left;
        width: 100px;
        /*margin-left: 20px;*/
        margin-right:0px;           
        text-align: center;color: #ffffff; 
        position:relative;
        /* border:3px solid black !important; */
         line-height:auto;line-height: inherit;
        padding-top: 25px;overflow:hidden;} 
    

   ul.addList li.uploadDiv{float: left;
    width: 100px;
    /*margin-left: 20px;*/
    margin-right:0px;
       background: #ff0000;
    text-align: center;color: #ffffff; position:relative; border:3px solid #3c98db; line-height:auto;line-height: inherit;
    padding-top: 25px;overflow:hidden; text-transform: uppercase;} 

    ul.addList li.uploadIncident{background: #3c98db; border:1px solid #1e31ae;}
       
       
   /*ul.addList li img{position: absolute;
    top: -14px;
    right: -14px;}*/
   
   .amountPaid{float:right; color: #fffb85;
    text-decoration: underline; display:block !important;}  
       .fms_time{display:block; margin-left:0px; background: #ffffff; padding: 0px;}
       
   .rating_player{float:right; font-weight:bold;}  
   .name_player{display: inline-block;
    width: 100%;
    color: #bf9000;}
   .name_player strong{float:left;}
   .marginleftNone{margin-left:0px !important;}
   .bgBlue h2{background: #3c98db;
    padding: 5px 10px;
    color: #ffffff;}
   .marginTopNone{margin-top:0px;}
   table.approved_style tr td:nth-child(2), table.approved_style tr th:nth-child(2) {
    text-align: center;
   }
   
   .widthTableAuto table{width:100% !important;}
   .widthTableAuto input[type="number"]{width:80px !important;}    
   
   
   ul.tabs{
               margin: 0px;
               padding: 0px;
               list-style: none;
           }
           ul.tabs li{
               background: none;
               /*color: #222;
               display: inline-block;
               padding: 10px 15px;
               cursor: pointer;*/
           }
   
           /*ul.tabs li.current{
               background: #ededed;
               color: #222;
           }*/
   
           .tab-content{
               display: none;
               /*background: #ededed;
               padding: 15px;*/
           }
   
           .tab-content.current{
               display: inherit;
           }
           
   ul.tabsMain{
               margin: 0px;
               padding: 0px;
               list-style: none;
           }
           ul.tabsMain li{
               background: none;
               /*color: #222;
               display: inline-block;
               padding: 10px 15px;
               cursor: pointer;*/
           }
   
           /*ul.tabsMain li.current{
               background: #ededed;
               color: #222;
           }*/
   
           .tabMain-content{
               display: none;
               /*background: #ededed;
               padding: 15px;*/
           }
   
           .tabMain-content.current{
               display: inherit;
           }       
           
           
   
   .imgRelative{position:relative; display:inline-block;}
   .spaceBorder{display:none !important;padding: 0 !important;}
   ul.width33 li{width:33.33%;}
   
   .newsfeedBox ul{
       list-style:none;
       padding:0px;
       margin:0px;
       margin-top:20px;
   }
   
   .newsfeedBox ul li{display:block; padding:12px 0; display:inline-block; width:100%;}
   .newsfeedBox ul li:first-child{padding-top:0px;}
   .newsfeedBox ul h4{font-size:14px; color:#3c98db; text-decoration:underline; font-weight:bold; display:inline-block; margin-top:0px;}
   .reminder{color:#000000; font-size:14px; font-weight:bold;}
   .dateNewsfeed{color:#999999; font-size:11px; float:right; margin-top:5px;}
   .newsfeed_img{float:left; width:40px; height:40px; border-radius:100%; margin-right:10px;}
   .rightBottomLink{display: block;text-align: right;}
   .bgBlueNewsfeed{background:#ebf4fb; padding:10px; border-radius:10px;}
   .rightBottomLink a{color:#3c98db; font-size:11px; font-weight:bold;}
   .rightBottomLink a:hover{text-decoration:none;}
   .rightfeedBox{width:calc(100% - 55px); float:right;}
   .pinBlue{float:right;}
   .pinBlue img{border-radius:3px; margin-top:3px;}
   h3.slideDate{background:#f3f3f3; margin:0px; padding:10px;}
   .slideBtn{display:inline-block; margin-right:20px;cursor: pointer; position:relative; top:2px;}
   .slideBtn span{ height: 3px;
    background: #000000;
    width: 20px;
    margin: 3px 5px;
    display: block;}
   ul.dateCalender{list-style:none; margin:0px; padding:0px; margin-top:10px;}
   ul.dateCalender li{display:inline-block; width:100%; padding:14px 0;}
   ul.dateCalender li span{color:#999999; font-size:12px; float:left;}
   ul.dateCalender li div{border-top:1px solid #cccccc;margin-top: 8px;width: calc(100% - 55px);float: right;margin-left: 15px; position:relative; height: 23px;}
   .slideDate .glyphicon{font-size:12px;}
   .practiceSchedule{position:absolute; top:-14px; left:50%; transform:translateX(-50%); text-align:center; background:#3c98db; padding:5px 10px; color:#ffffff !important; width:90%;cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;}
   .bgBlueColor{background:#3c98db !important; color:#ffffff;}
   .bgBlueColor span{background: #ffffff;}
   .bgBlueColor span:nth-child(1){ transform:rotate(45deg);}
   .bgBlueColor span:nth-child(2){ transform:rotate(135deg);position: relative;top: -6px;}
   ul.infoCalenderEvent{list-style:none; margin:0px; padding:0px; margin-top:20px;}
   ul.infoCalenderEvent li{display:inline-block; width:100%; padding:8px 0;}
   ul.infoCalenderEvent li .infotext{width: calc(100% - 55px); float:left;}
   ul.infoCalenderEvent li .infotext h4{margin:0px;word-wrap: break-word;font-size: 16px;color:#333333;}
   ul.infoCalenderEvent li .infotext p{color:#999999; font-size:13px;}
   ul.infoCalenderEvent li span.glyphicon{font-size: 18px;float: left;margin-right: 30px; color:#888888;}
   .groupImg img{max-width:100%;}
   .width70{width:70%; margin:5px 0;}
   ul.groupListing{background:#ebf4fb; margin:0px; padding:10px 0; display:inline-block; width:100%; list-style:none;}
   ul.groupListing li{width: 25%;float: left;text-align: center;border-left: 1px solid rgba(0,0,0,0.3);color: #333333;cursor: pointer;}
   ul.groupListing li:first-child{border-left: 0px;}
   .slideDate .custom-dropdown::before{background:#3c98db;}
   .slideDate .custom-dropdown::after {
    color: #ffffff;
   }
   .slideDate .custom-dropdown select{font-size:12px;}
   
   @media only screen and (max-width : 767px) {

    .customLI{padding-top:0px !important;background:#2ecc71 !important;border:0px !important;width:60px !important; height:60px !important; margin-right:20px !important;border:1px solid #000 !important;}
   .customLI span{left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%); font-size:11px !important; text-transform: uppercase;} 
    .leftReportDate span{display:block; font-weight:normal;}
    .leftReportDate{float:left; width:75%; text-align:left;padding-top: 0px; margin-right:0%;}
    .rightReportDate{float:right; width:100%; text-align:right; margin-left:0px;}
    .leftGameDate{float:left; width:49%; text-align:left;padding-top: 10px; margin-right:1%;}
    .leftGameDate strong{position: absolute;bottom: 0;left: 0;/*width: 45%;*/}
    .rightGameDate{float:left; width:49%; text-align:right; margin-left:1%;}
    .breakAll{word-wrap:break-word; display:block;} 
       .spaceBorder{display:block !important;}
       
   .logo_text a{font-size:32px;}
   .logo_main img{max-width:100%; height:45px;}
   .bg_img_style{width:40px; height:40px;}
   ul.tab_main li span{font-size:16px;}
   ul.game_select li img{height:22px;}
   ul.game_select li span{font-size:13px;}
   .notification_tip{font-size:10px !important; padding:1px 5px 1px 4px !important;}
   .select_pos{margin-left: -20px;}
   .report_pos{margin-left: -15px;}
   .get_pos{margin-left: -15px;}
   .officiating_pos{margin-left: -19px;}
   .filter_div label{text-align:left;font-size: 14px;margin-bottom: 5px;margin-top: 0;}
   .lognin_box{width:100%;}
   .signIn_btn{width:80%;display: inline-block;}
   .forgot_pass{margin-right:15px;}
   .bgGrey .col-md-2{text-align:center; margin-bottom:5px;}
   .inputfull input[type="text"]{width:100%;}
   .overflowAuto{overflow:hidden;}
   /*.widthTable{width:500px;}*/
   .tooltip_abc {
       top:0px;
   }
   .official_header_img{height:200px; background-position:center center;}
   .player_header_img{height:200px; background-position:center center;}
   .coach_header_img{height:200px; background-position:center center;}
   .official_header_img_paddNone .col-md-12{padding-left:0px !important; padding-right:0px !important;}
   .breakWord{display:block;}
   h1.mainDate{font-size:19px;margin-top: 20px;display: inline-block;width: 100%; position:relative;}
   .data_module h3{font-size:15px;}
   ul.addList li{float:left; width:60px; margin-left:0px;height: 60px;
   line-height: 60px;
   font-size: 12px;}
   .addHeading{display:block; padding-top:2px;text-transform: uppercase;} 
   .preFilledSS{display:block; 
    padding-top:2px;
    text-transform: uppercase;
    font-size:11px;

}
   .addIncident{top: 50%;position: absolute;left: 50%;transform: translateX(-50%) translateY(-50%);padding-top: 0;font-size: 11px;}
   
   ul.addList li:last-child{float:left; width:60px; margin-left:0px;height: 60px;font-size: 12px; padding-top:0px;}   
   ul.addList li img {
    /*position: absolute;
    top: -11px;
    right: -11px;
    height: 18px;*/
    width:60px;
    height:100%;
   } 
   h3{font-size:16px !important;}
   ul.paymentdates li{font-size:16px;}
   ul.teamList li h3{font-size:16px !important;}
   .amountPaid{font-size:15px;}
   .wordLimit{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
   ul.width20Game li span{font-size:11px; padding:5px;}
   ul.width20Game li span.notification_tip{right: -20px;font-size: 9px !important;}
   .accordion .accordion .card .btn-link{font-size:14px !important;}
   .signupPosition .col-xs-6{font-size:15px;}
   
   }
   
   @media only screen and (max-width : 991px) {
       
       .tooltip_abc {
       top:0px; display:block;
   }
   }
   
   @media only screen and (max-width : 340px) {
       h3{font-size:14px !important;}
   ul.paymentdates li{font-size:14px;}
   ul.teamList li h3{font-size:14px !important;}
       .amountPaid{font-size:14px;}
       ul.addList li{font-size:11px;}
       table.scoreTable tr th{font-size:4vw;}
       table.scoreTable tr td{font-size:4vw;}
       table.scoreTable tr td span{word-break:break-word;} 
        
   }

   @media only screen and (max-width : 275px) {
    .leftGameDate strong{position:inherit;}  
}

   @media only screen and (min-width : 341px) and (max-width : 480px) {
       
    table.scoreTable tr th{font-size:3.5vw;}
    table.scoreTable tr td{font-size:3.5vw;}
    table.scoreTable tr td span{word-break:break-word;}
}

   
   
   
   /*----- Multiselect CSS --*/
   
   .c-btn {
    background: #fff;
    border: 1px solid #ccc;
    color: #333; }
    
    .selected-list .c-list .c-token {
    background: #0079FE; }
    .selected-list .c-list .c-token .c-label {
    color: #fff; }
    .selected-list .c-list .c-token .c-remove svg {
    fill: #fff; }
    
    .selected-list .c-angle-down svg, .selected-list .c-angle-up svg {
    fill: #333; }
    
    .dropdown-list ul li:hover {
    background: #f5f5f5; }
    
    .arrow-up, .arrow-down {
    border-bottom: 15px solid #fff; }
    
    .arrow-2 {
    border-bottom: 15px solid #ccc; }
    
    .list-area {
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0px 1px 5px #959595; }
    
    .select-all {
    border-bottom: 1px solid #ccc; }
    
    .list-filter {
    border-bottom: 1px solid #ccc; }
    .list-filter .c-search svg {
    fill: #888; }
    .list-filter .c-clear svg {
    fill: #888; }
    
    .pure-checkbox input[type="checkbox"]:focus + label:before, .pure-checkbox input[type="checkbox"]:hover + label:before {
    border-color: #0079FE;
    background-color: #f2f2f2; }
    
    .pure-checkbox input[type="checkbox"] + label {
    color: #000; }
    
    .pure-checkbox input[type="checkbox"] + label:before {
    color: #0079FE;
    border: 2px solid #0079FE; }
    
    .pure-checkbox input[type="checkbox"] + label:after {
    background-color: #0079FE; }
    
    .pure-checkbox input[type="checkbox"]:disabled + label:before {
    border-color: #cccccc; }
    
    .pure-checkbox input[type="checkbox"]:disabled:checked + label:before {
    background-color: #cccccc; }
    
    .pure-checkbox input[type="checkbox"] + label:after {
    border-color: #ffffff; }
    
    .pure-checkbox input[type="radio"]:checked + label:before {
    background-color: white; }
    
    .pure-checkbox input[type="checkbox"]:checked + label:before {
    background: #0079FE; }
    
    .selected-item {
    background: #e9f4ff; }

    .requestSent{
        color: #ff0000; text-align: center; font-weight:bold;}

    .requestFail{
        color: #ff0000; text-align: center; font-weight:bold;}
    .requestSuccess{
        color: #4BB543; text-align: center; font-weight:bold;}
    
   /*----- Multiselect CSS --*/
   
   .accordion .accordion .card-header{border:0px; background-color: #1e31ae !important;}
   .accordion .accordion .card .btn-link{color:#ffffff !important;font-weight: bold;font-size: 18px;}
   .accordion .accordion .card-body{ background-color: #1e31ae !important; border:0px; padding-top:0px;}
   .accordion .accordion h3{color:#ffffff; margin-top: 0px;}
   .accordion .accordion h5{margin: 0px;}
   
   .accordion .accordion .card .btn-link.collapsed:before{position: relative; 
    top: 1px;
    float:left;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased; content: "\e250"; display:none;}
   
   .accordion .accordion .card .btn-link:before{content: "\e252"; float:left; display:none;} 
   
    .accordion .accordion .matchInfo{margin-top:0px;}
	.accordion .accordion .matchInfo_selectGame{margin-top:0px;}
   
    .accordion .card .btn-link .HeadCollapse:before{position: relative;
    top: 4px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;content: "\e252"; float:left;}
   
    .accordion .card .btn-link.collapsed .HeadCollapse:before{content: "\e250"; float:left;}
    .card-body .btn-success{ background: #70ad47; margin-left:0px;  margin-right:1%; padding:5px 10px;width:49%; font-size:18px; text-transform: uppercase; font-weight:bold;}
    .card-body .btn-danger{width:49%; font-size:18px; margin-left:1%;  margin-right:0px; padding:5px 10px; text-transform: uppercase; font-weight:bold;}
   
   .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{outline:0px;}
   #filter-header{background-color: #c4e0b2 !important; padding:10px;}
   #filter-header .btn-link.collapsed::before{position: relative;
    top: 1px;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;content: "\e250";}

    #filter-header .btn-link::before{position: relative; 
        top: 1px;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;content: "\e252";}
   
 
 .modal-sm .modal-body{padding: 0 0 15px 0;}
 .modal-sm > .modal-content > .modal-body > .heading-signUp{background-color: #1e31ae;padding: 10px; color:#fff; text-align:left; font-weight:normal;}
 .modal-sm > .modal-content > .modal-body > .heading-success{background-color: #70ad47;padding: 10px; color:#fff; text-align:left; font-weight:normal;}
 .modal-sm > .modal-content > .modal-body > .heading-fail{background-color: #d9534f;padding: 10px; color:#fff; text-align:left; font-weight:normal;}
 .modal-sm > .modal-content > .modal-body > p{font-weight:bold;}
 .modal-sm .modal-content .modal-body .btn-success{margin-right:5px;}

 .bg-info > h5 > .btn-link > .cssGameNotReported{background-color: #bbb !important; position:relative;}
 .bg-info > h5 > .btn-link > .cssGameReported{background-color: #ededed !important;}


 .containerCheckbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
  }
  
  /* Hide the browser's default checkbox */
  .containerCheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #ffffff;
    border: 1px solid #2196F3;
  }
  
  /* On mouse-over, add a grey background color */
  .containerCheckbox:hover input ~ .checkmark {
    background-color: #fff;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerCheckbox input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerCheckbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerCheckbox .checkmark:after {
    left: 7px;
    top: 1px;
    width: 7px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .OffcProfile .card-header{background:#5B9BD5 !important; border: 1px solid #5B9BD5;} 
  .OffcProfile .card-header h2.paidHead{color:#ffffff;}
  .OffcProfile .card-header .btn-link{color: #ffffff;}
  .paddLeft5{padding-left:5px; padding-right:0;}
  .paddRight5{padding-right:5px; padding-left:0;}
  .leftTable tr th, .leftTable tr td{text-align:left !important;color: #000;}
  .leftTable tr th{vertical-align: bottom;}

  .header_img_text{font-size:28px; color:#fff; left:15px; top:10px; font-weight: bold; position: absolute;}
  .topheaderFixed{background-color:#000; padding:8px 0;}

  .img_profile img{height:30px; width:30px; border:0px; border-radius:50%; cursor:pointer;}
  .mobile_menu span{background-color:#fff; height:3px; margin-top:5px; display:block;}
  .mobile_menu{width:25px; display:inline-block; cursor: pointer; position: relative;}
  .mobile_menu_div{display:none;background-color: #fff;padding:0px 10px; position: absolute; top:26px; left:-125px; z-index: 1; width:150px; border:2px solid #5B9BD5;}
  .mobile_menu_div ul{list-style:none; padding:0px; margin:0px;}
  .mobile_menu_div ul li{display:block; color:#000; padding:8px 0; border-top:1px solid #5B9BD5; font-size:15px; text-align:left;}
  .mobile_menu_div ul li:first-child{border-top:0px;}

  .fms_time .signupPosition:first-child{margin-top:0px;}


  .switch {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 34px;
    margin-bottom:0px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #011a9a;
    -webkit-transition: .4s;
    transition: .4s;
     border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #011a9a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(55px);
    left: initial;
    right: 58px;
  }
  
  /*------ ADDED CSS ---------*/
  .slider:after
  {
   content:'Small';
   color: white;
   display: block;
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
   font-size: 15px;
   font-family: Verdana, sans-serif;
   font-weight:normal;
  }
  
  input:checked + .slider:after
  {  
    content:'Large';
  }
  .pwForm{
      font-size: 14px;
  }
  
  .customModalWidth75{
    width:75%
  }



  /*--------- END --------*/


   /* ---- Start Small Font Css --- */

  @media only screen and (max-width : 991px) {
    
    .small_font .header_img_text{font-size:26px;}
    .small_font .card .btn-link{font-size:14px;}
    .small_font .card-body .btn-success{font-size:14px;padding: 5px 10px; margin-left:0px;}
    .small_font .card-body .btn-danger{font-size:14px;padding: 5px 10px; margin-right:0px;}
    .small_font h1.mainDate{font-size:18px; margin-top:15px;}
    .small_font .filter_module h2, .small_font .data_module h2{font-size: 14px;}
    .small_font ul.reportlist li{font-size:14px;}
    .small_font h3 {font-size: 14px !important;  margin-top:10px;}
    .small_font h2.paidHead{font-size: 14px;}
    .small_font .matchInfo2{font-size: 14px !important;}
    .small_font .matchInfo{margin-top:0px;}
    .small_font .wordBreak .row-fluid .paddTop4 {word-wrap:break-word;}
    .small_font table.scoreTable tr th{font-size: 14px;}
    .small_font table.scoreTable tr td{font-size: 14px;}
    .small_font .signupPosition{font-size:14px;}
    .small_font a.signupRedBtn{font-size:12px;}
    .small_font a.cancelSignupBtn{font-size:12px;}
    .small_font a.canNotCancelSignupBtn{font-size:12px;}
    .small_font ul.paymentdates li {font-size: 14px;}
    .small_font .noRecordsProfile{font-size: 14px;}
    .small_font h2.changePw{font-size: 18px !important; margin-top:0px; background-color:#fff; padding-bottom:10px;margin-bottom: 10px; border-bottom:1px solid #ccc;}
    .small_font .pwForm{font-size: 13px;}
    .small_font .signupPosition .col-xs-6{font-size:14px;}
    .small_font .logo_text a {font-size: 28px;}
    .small_font .rightGameAvailable{font-size:14px;}
    .small_font .HeadCollapse{padding:5px;}
    .small_font #filter-header{padding:5px;}
    .small_font .game_select_bg{padding: 10px 0;}
    .small_font .bg_logo{padding: 10px 0;}
    .small_font ul.addList li{margin-bottom: 10px;}
    .small_font .bgColorMain button{font-size:14px !important;}
    .small_font .pwChanged button{font-size:14px !important;}
    .small_font .leftReportDate{line-height:20px;}
    .small_font .rightReportDate{line-height:20px;}
    .small_font .asScorekeeper{font-size:14px !important;}
    .small_font .staticStrip{font-size:14px !important;}
    .small_font .customLI{padding-top:0px !important;background:#2ecc71 !important;border:0px !important;width:60px; height:60px; margin-right:20px !important;border:1px solid #000 !important;}
    .small_font .customLI span{font-size:11px;}
}

  /* ---- End Small Font Css --- */