
<div>
	
	<app-header [topImage]='headerImg'></app-header>
	 
	<div class="game_select_bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<ul class="game_select">          
						
				    <li><a (click)="keepSelectActive()" [ngClass]="{active:isSelectGameActive}" routerLink="/official/SelectGameComponent" routerLinkActive="active">
							<img src="../../assets/images/game_icon.png" alt="Game Icon" />
							<span>Select <br class="breakWord" />Games</span>
						</a>
					</li> 
						
						<li>
							<a [routerLinkActiveOptions]="{ exact: true }"
							(click)="toggleSelectClass()"
							routerLink="/official/ReportGameComponent" routerLinkActive="active">
								<div class="imgRelative">
									<img src="../../assets/images/report_icon.png" alt="Report Icon" />
									<span class="notification_tip report_pos">20</span>
								</div>
								<span>Report <br class="breakWord" />Games</span>
							</a>
							
						</li>
						<li><a (click)="toggleSelectClass()" routerLink="/official/PayComponent" routerLinkActive="active"><img src="../../assets/images/paid_icon.png" alt="Paid Icon" /><span>Get <br class="breakWord" />Paid</span></a></li>
						<li><a (click)="toggleSelectClass()" routerLink="/official/ProfileComponent" routerLinkActive="active"><img src="../../assets/images/officiating.png" alt="Officiating Icon" /><span>Officiating <br class="breakWord" />Profile</span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>     
	
	
</div>

<router-outlet>
	
</router-outlet>