<div class="container paddingBottom50" *ngIf="officialService.reportGameJson != null && dss.initialFetchError!=true">
   <div *ngIf="
      (officialService.reportGameJson.Value != null &&
      officialService.reportGameJson.Value.length > 0) ||
      officialService.reportGameJson.Value.GameList.length;
      else noRecordDiv
      "
      class="row">
      <div class="col-lg-12">
         <h1 class="mainDate"><strong>Games to Report</strong></h1>
         <div class="data_module">
            <ngb-accordion #acc="ngbAccordion" (panelChange)="panelChange($event)">
               <ngb-panel *ngFor="
               let item of officialService.reportGameJson.Value.GameList;
               let gameListIndex = index
               ">
                  <ng-template ngbPanelTitle>
                     <div class="{{ item.GameReported }} HeadCollapse" class="HeadCollapse seemant">
                        <h2>
                           <div class="leftReportDate" [ngStyle]="{ width: item.IncentiveText.length>0 ? '100%' : '100%' }">
                              <div>{{ item.GameName }}
                                 <!-- IsScoreFilled  -->
                                 <!-- <span *ngIf="item.IncentiveText.length > 0" class="unreported_game">1</span>                                  -->
                                 <img class="report_status" *ngIf="item.IsScoreFilled && item.OfficiatingPositionId == 3"
                                    src="assets/images/tick.png">
                                 <img class="report_status" *ngIf="!item.IsScoreFilled && item.OfficiatingPositionId == 3"
                                    src="assets/images/error.png">
                                 <!-- <span *ngIf="item.IncentiveText.length > 0" class="unreported_game">1</span>                                  -->
                              </div>
                              <span class="">
                                 {{ item.GameDate }} @{{ item.Location }} @
                                 {{ item.GameStartTime }}
                              </span>
                              <span class="asCoach">{{ item.PositionText }}
                                 <span class="earnMore">{{ item.IncentiveText }}</span>
                              </span>
                           </div>
                           <div class="rightReportDate" [ngStyle]="{ display: item.IncentiveText.length>0 ? '' : 'none' }">
                           </div>
                        </h2>
                     </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                     <form #reportForm="ngForm">
                        <div class="fms_time">
                           <div>
                              <ul class="reportlist">
                                 <li>Final Team Scores</li>
                              </ul>
                              <div class="bgGrey inputfull">
                                 <div class="row">
                                    <div class="col-md-12">
                                       <div class="overflowAuto widthTableAuto">
                                          <table class="scoreTable marginTop10 widthTable leftAlign" cellspacing="0"
                                             cellpadding="0" border="0" width="100%">
                                             <thead>
                                                <tr>
                                                   <th>Team Name</th>
                                                   <th>Final Score</th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr>
                                                   <td>{{ item.HomeTeam }}</td>
                                                   <td>
                                                      <input type="text" name="HTeamScore" style="width:40px"
                                                         [disabled]="item.OfficiatingPositionId != 3" [(ngModel)]="item.HomeTeamScore"
                                                         value="{{ item.HomeTeamScore }}" />
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td>{{ item.VisitingTeam }}</td>
                                                   <td>
                                                      <input type="text" name="VTeamScore" style="width:40px"
                                                         [disabled]="item.OfficiatingPositionId != 3" [(ngModel)]="item.VisitingTeamScore"
                                                         value="{{ item.VisitingTeamScore }}" />
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="marginTop10">
                           <ul class="reportlist">
                              <li>Individual Stats</li>
                           </ul>
                           <div class="bgGrey">
                              <div class="row">
                                 <div class="col-md-12">
                                    <h2>
                                       <strong>({{ item.Division }}) {{ item.HomeTeam }}</strong>
                                    </h2>
                                    <div class="overflowAuto">
                                       <table class="scoreTable marginTop10 widthTable" cellspacing="0" cellpadding="0"
                                          border="0" width="100%">
                                          <thead>
                                             <tr>
                                                <th width="5%">#</th>
                                                <th width="58%">Name</th>
                                                <th width="13%">
                                                   NP
                                                   <div class="tooltip_abc">
                                                      <img class="info_icon" src="../../assets/images/info-icon.png" />
                                                      <span class="tooltiptext tooltip-top">Not Present</span>
                                                   </div>
                                                </th>
                                                <th width="13%">
                                                   PON
                                                   <div class="tooltip_abc">
                                                      <img class="info_icon" src="../../assets/images/info-icon.png" />
                                                      <span class="tooltiptext tooltip-top">Player Of Note</span>
                                                   </div>
                                                </th>
                                                <th width="11%">
                                                   PTS
                                                   <div class="tooltip_abc">
                                                      <img class="info_icon" src="../../assets/images/info-icon.png" />
                                                      <span class="tooltiptext tooltip-top">Points Scored</span>
                                                   </div>
                                                </th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr *ngFor="
                                             let child of item.HomeTeamPlayerScores;
                                             let i = index">
                                                <td>{{ child.JersyNumber }}</td>
                                                <td style="display:none">
                                                   <input type="number" value="child.GameId" name="HGameId{{ i }}"
                                                      [(ngModel)]="child.GameId" />
                                                </td>
                                                <td style="display:none">
                                                   <input type="text" value="child.PlayerName" name="HPlayerName{{ i }}"
                                                      [(ngModel)]="child.PlayerName" />
                                                </td>
                                                <td style="display:none">
                                                   <input type="number" value="child.PlayerSeasonalId" name="HPlayerSeasonalId{{ i }}"
                                                      [(ngModel)]="child.PlayerSeasonalId" />
                                                </td>
                                                <td style="display:none">
                                                   <input type="number" value="child.FoulId" name="HFoulId{{ i }}"
                                                      [(ngModel)]="child.FoulId" />
                                                </td>
                                                <td style="display:none">
                                                   <input type="number" value="child.TeamId" name="HTeamId{{ i }}"
                                                      [(ngModel)]="child.TeamId" />
                                                </td>
                                                <td style="text-align:left;">
                                                   <span value="child.PlayerName">{{
                                                      child.PlayerName
                                                      }}</span>
                                                </td>
                                                <td>
                                                   <input type="checkbox" [checked]="child.NotPresent" [disabled]="
                                                !(item.OfficiatingPositionId == 3)
                                                "
                                                      name="HNotPresent{{ i }}" [(ngModel)]="child.NotPresent" (change)="
                                                checkNP('HPoints', 'HPlayerofNote', i)
                                                "
                                                      value="child.NotPresent" />
                                                </td>
                                                <td>
                                                   <input type="checkbox" [checked]="child.PlayerNote" id="HPlayerofNote{{ i }}"
                                                      [disabled]="
                                                (!child.PlayerNote &&
                                                (maxPON >= 6 || homePON >= 3)) ||
                                                !(item.OfficiatingPositionId == 3) ||
                                                child.NotPresent
                                                "
                                                      (change)="
                                                checkMaxPON(
                                                $event,
                                                gameListIndex,
                                                'home',
                                                template
                                                )
                                                "
                                                      name="HPlayerNote{{ i }}" [(ngModel)]="child.PlayerNote" value="child.PlayerNote" />
                                                </td>
                                                <td>
                                                   <input type="number" id="HPoints{{ i }}" (input)="inputValidator($event)"
                                                      [maxlength]="3" value="child.Points" [disabled]="
                                                !(item.OfficiatingPositionId == 3) ||
                                                child.NotPresent
                                                "
                                                      pattern="[0-9]*" min="0" max="999" name="HPoints{{ i }}"
                                                      [(ngModel)]="child.Points" />
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                              <div class="row marginTop20">
                                 <div class="col-md-12">
                                    <h2>
                                       <strong>({{ item.Division }})
                                          {{ item.VisitingTeam }}</strong>
                                    </h2>
                                    <div class="overflowAuto">
                                       <table class="scoreTable marginTop10 widthTable" cellspacing="0" cellpadding="0"
                                          border="0" width="100%">
                                          <thead>
                                             <tr>
                                                <th width="5%">#</th>
                                                <th width="58%">Name</th>
                                                <th width="13%">NP</th>
                                                <th width="13%">PON</th>
                                                <th width="11%">PTS</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <tr *ngFor="
                                             let child of item.VisitingTeamPlayerScores;
                                             let i = index
                                             ">
                                                <td style="display:none">
                                                   <input type="number" value="child.GameId" name="VGameId{{ i }}"
                                                      [(ngModel)]="child.GameId" />
                                                </td>
                                                <td style="display:none">
                                                   <input type="text" value="child.PlayerName" name="VPlayerName{{ i }}"
                                                      [(ngModel)]="child.PlayerName" />
                                                </td>
                                                <td style="display:none">
                                                   <input type="number" value="child.PlayerSeasonalId" name="VPlayerSeasonalId{{ i }}"
                                                      [(ngModel)]="child.PlayerSeasonalId" />
                                                </td>
                                                <td style="display:none">
                                                   <input type="number" value="child.FoulId" name="VFoulId{{ i }}"
                                                      [(ngModel)]="child.FoulId" />
                                                </td>
                                                <td style="display:none">
                                                   <input type="number" value="child.TeamId" name="VTeamId{{ i }}"
                                                      [(ngModel)]="child.TeamId" />
                                                </td>
                                                <td>{{ child.JersyNumber }}</td>
                                                <td style="text-align:left;">
                                                   {{ child.PlayerName }}
                                                </td>
                                                <td>
                                                   <input type="checkbox" [(ngModel)]="child.NotPresent" name="VNotPresent{{ i }}"
                                                      [disabled]="
                                                !(item.OfficiatingPositionId == 3)
                                                "
                                                      value="child.NotPresent" (change)="
                                                checkNP('VPoints', 'VPlayerofNote', i)
                                                "
                                                      [checked]="child.NotPresent" />
                                                </td>
                                                <td>
                                                   <input type="checkbox" id="VPlayerofNote{{ i }}" [(ngModel)]="child.PlayerNote"
                                                      name="VPlayerNote{{ i }}" [disabled]="
                                                (!child.PlayerNote &&
                                                (maxPON >= 6 || visitingPON >= 3)) ||
                                                !(item.OfficiatingPositionId == 3) ||
                                                child.NotPresent
                                                "
                                                      (change)="
                                                checkMaxPON(
                                                $event,
                                                gameListIndex,
                                                'visiting',
                                                template
                                                )
                                                "
                                                      value="child.PlayerNote" [checked]="child.PlayerNote" />
                                                </td>
                                                <td>
                                                   <input type="number" id="VPoints{{ i }}" value="child.Points"
                                                      (input)="inputValidator($event)" [maxlength]="3" name="VPoints{{ i }}"
                                                      [(ngModel)]="child.Points" [disabled]="
                                                !(item.OfficiatingPositionId == 3) ||
                                                child.NotPresent
                                                "
                                                      min="0" max="1000" pattern="[0-9]*" />
                                                </td>
                                             </tr>
                                          </tbody>
                                       </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="marginTop10">
                           <ul class="reportlist">
                              <li>Scoresheet</li>
                           </ul>
                           <div class="bgGrey">
                              <div class="row">
                                 <div class="col-md-12">
                                    <input style="display: none" type="file" />
                                    <ul *ngIf="item.ScoreSheetImages.length > 0" class="addList" #Incidentlist>
                                       <li *ngFor="
                                       let child of item.ScoreSheetImages;
                                       let ssIndex = index
                                       "
                                          id="scoresheet{{ ssIndex }}">
                                          <img src="{{ child.ImageThumbnail }}" />
                                          <span url="child.ImageURL" (click)="
                                          deleteImage(
                                          $event,
                                          child.ImageURL,
                                          'scoresheet' + ssIndex
                                          )
                                          "
                                             class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                       </li>

                                    </ul>
                                    <ul class="addList IncidentListClass" *ngIf="item.OfficiatingPositionId == 3" id="IncidentListClass_{{ gameListIndex }}">
                                       <li class="Incidentclass uploadDiv" id="Incidentclass_{{ gameListIndex }}">
                                          <input [disabled]="!(item.OfficiatingPositionId == 3)" #imageInput type="file"
                                             multiple accept="image/*" (change)="processFile(imageInput, gameListIndex)" />
                                          <span class="addHeading">Add<br />
                                             Score<br class="breakAll" />Sheet</span>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="marginTop10">
                           <ul class="reportlist">
                              <li>Incident</li>
                           </ul>
                           <div class="bgGrey">
                              <div class="row">
                                 <div class="col-md-12">
                                    <ul *ngIf="item.IncidentReports.length > 0" class="addList incidentLi">
                                       <li *ngFor="let child of item.IncidentReports;  let incidentIndex = index">
                                          <div (click)="showIncident(incidentIndex,gameListIndex)">
                                             Incident {{incidentIndex+1}}
                                          </div>

                                          <span (click)="
                                          deleteIncident(
                                          incidentIndex,
                                          gameListIndex                                
                                          )"
                                             class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                       </li>
                                    </ul>

                                    <ul *ngIf="officialService.IncidentReports.length > 0" class="addList incidentLi">
                                       <li *ngFor="let item of officialService.IncidentReports;  let newIncidentIndex = index">

                                          <div class="incident_linebreak" (click)="showTempIncident(newIncidentIndex,gameListIndex)">
                                             New <br class="breakAll" />Incident <br class="breakAll" />{{newIncidentIndex+1}}
                                             <!-- <ng-template *ngIf="item.IncidentReports.length>0">
                                             {{item.IncidentReports.length+newIncidentIndex+1}}
                                          </ng-template>                                          
                                          
                                          <ng-template *ngIf="item.IncidentReports.length==0">
                                             {{newIncidentIndex+1}}
                                          </ng-template>                                           -->
                                          </div>

                                          <span (click)="
                                          deleteTempIncident(
                                          newIncidentIndex,
                                          gameListIndex                                
                                          )"
                                             class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                                       </li>
                                    </ul>
                                    <ul class="addList IncidentListClass">
                                       <li (click)="addIncident(gameListIndex)" class="Incidentclass uploadDiv uploadIncident"
                                          id="Incidentclass_{{ gameListIndex }}">
                                          <span class="addHeading addIncident">Add<br class="breakAll" />
                                             Incident</span>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div [ngStyle]="{
                     display: item.OfficiatingPositionId == '3' ? '' : 'none'
                     }"
                           class="text-center">
                           <button class="btn btn-success" [disabled]="!(item.OfficiatingPositionId == 3)" id="{{ item.OfficiatingPositionId }}"
                              type="submit" (click)="
                     onSubmit(
                     reportForm,
                     gameListIndex,
                     invalidScoreTemplate,
                     unEqualHomeScoreTemplate,
                     unEqualVisitingScoreTemplate,
                     uploadTemplate
                     )
                     ">
                              SAVE REPORT
                           </button>
                        </div>
                        <!-- <div
            *ngIf="officialService.requestSuccess == true"
            class="requestSuccess"
            >
         <br />
         Data Saved!
         </div> -->
                     </form>
                  </ng-template>
               </ngb-panel>
            </ngb-accordion>
         </div>
      </div>
   </div>

   <ng-template #noRecordDiv>
      <div class="noRecordsBlack">No games to report</div>
   </ng-template>

</div>
<!-- <ng-template #noScoreSheet>
   <div class="noRecordsProfile">No ScoreSheet uploaded</div>
</ng-template> -->

<ng-template #template>
   <div class="modal-body text-center">
      <p class="heading-signUp">Max Limit Reached</p>
      <p>{{ modalMsg }}</p>
      <button type="button" class="btn btn-danger" (click)="confirm()">OK</button>
   </div>
</ng-template>

<!-- <ng-template #unEqualHomeScoreTemplate>
   <div class="modal-body text-center">
      <p class="heading-signUp">Invalid Final Score</p>
      <p>
         The sum of the scores of the players in <b>{{ tempHomeTeamName }}</b> must
         be equal to the final score.
      </p>
      <button type="button" class="btn btn-danger" (click)="closeUnEqualHomeScoreModal()">
         OK
      </button>
   </div>
</ng-template>

<ng-template #invalidScoreTemplate>
   <div class="modal-body text-center">
      <p class="heading-signUp">Invalid Final Scores</p>
      <p>
         Final Scores can not be Zero.
      </p>
      <button type="button" class="btn btn-danger" (click)="closeInvalidScoreModal()">
         OK
      </button>
   </div>
</ng-template>

<ng-template #unEqualVisitingScoreTemplate>
   <div class="modal-body text-center">
      <p class="heading-signUp">Invalid Final Score</p>
      <p>
         The sum of the scores of the players in
         <b>{{ tempVisitingTeamName }}</b> must be equal to the final score.
      </p>
      <button type="button" class="btn btn-danger" (click)="closeUnEqualVisitingScoreModal()">
         OK
      </button>
   </div>
</ng-template> -->
<!-- 
<ng-template #uploadTemplate>
   <div class="modal-body text-center">
      <p *ngIf="officialService.postReportError" class="heading-fail">
         Action Unsuccessful
      </p>
      <p *ngIf="!officialService.postReportError || officialService.postReportError==null" class="heading-success">
         Action Successful
      </p>
      <p>{{ officialService.reportErrorMsg }}</p>
      <button type="button" class="btn btn-danger" (click)="closeUnEqualVisitingScoreModal()">
         OK
      </button>
   </div>
</ng-template> -->

<!--Loader-->
<app-fybaloader *ngIf="officialService.reportRequest || officialService.requestStatus == 1"></app-fybaloader>
<!--Loader-->

<div *ngIf="dss.initialFetchError" #serverError>
   <div class="noRecords">
      <span class="spanError">Server Error.</span> Please try again later!
   </div>
</div>

<notifier-container>
   
</notifier-container>

<!-- <div *ngIf="officialService.serviceError" #serverError>
   <div style="padding:10px" class="noRecords2">
     Server Error. Please try again later!
   </div>
   </div> -->
<!-- <body>
   <div *ngFor="let image of _album; let i=index">
   <img [src]="image.thumb" (click)="open(i)"/>
   </div>
   </body> -->